In [1]:
import datetime
import time
import os
import sys
import pandas as pd
import cx_Oracle
cx_Oracle.init_oracle_client(lib_dir=r"C:\oracle\instantclient_19_10")
from pandas.io import sql
import mysql.connector
import sqlalchemy
import codecs
import numpy as np
import pymysql
import math
import datetime as dt
from sqlalchemy import types, create_engine

import warnings
warnings.filterwarnings("ignore")
from pandasql import sqldf
pysqldf = lambda q: sqldf(q, globals())
from datetime import date, timedelta, datetime
from mysql.connector import errorcode
print('Starting script at: ', datetime.now().strftime("%d/%m/%Y %H:%M:%S"))

Starting script at:  21/07/2021 10:25:32

In [2]:
films = pd.read_excel('Доп. фильмы для модели 2021-06-24.xlsx')
films.columns = ['date_of_appearance_in_Wink','vod_id', 'film']
films.head()

  date_of_appearance_in_Wink     vod_id                       film
0                 2021-04-08  114501547  NAVI. Рожденные побеждать
1                 2020-12-16  107612888          Американский друг
2                 2020-12-16  109633924          Американский друг
3                 2020-12-16  107613026          Американский друг
4                 2021-07-01  119523903                  Архипелаг

In [3]:
films['date_of_appearance_in_Wink'].max()

Timestamp('2021-07-22 00:00:00')

In [4]:
films['date_of_appearance_in_Wink'].min()

Timestamp('2020-01-20 00:00:00')

In [5]:
list_id_films = films['vod_id'].to_list()

In [6]:
def convertList(list):
    separator = "','"
    output = "'"
    for i in range(len(list)):
        item = str(list[i])
        if(i == len(list)-1):
            output+=item+"'"
        else:    
            output+=item+separator
    return output

In [7]:
from clickhouse_driver import Client
client = Client('192.168.191.15', user = 'ashlenskaya', password = 'uJJG0arPjwg4by4d')

In [8]:
films_part = films[['vod_id', 'date_of_appearance_in_Wink']]
films_part = films_part.values.tolist()

In [9]:
list_df_films = []

In [10]:
def getData(date_of, vod_id):
    TMP_DF= pd.DataFrame(columns = ['san', 'mrf', 'view_date', 'vod_name', 'vod_id', 'usage_model', 'device_type', 'count_of_views', 'duration_in_minutes'])

    q = '''select  san,
                    home_mrf as mrf,
                    toDate(event_datetime) as view_date,
                    (dictGetString('vod_content','vod_name',toUInt64(vod_id))) as vod_name,
                    vod_id,
                    lower(usage_model) as usage_model,
                    device_type,
                    Count(event) as count_of_views,
                    round((sum(duration)/60), 2) as duration_in_minutes
                from analytics.UserEvents

                    where event = 17
                          AND event_date BETWEEN toDateTime(toDate('{}'), 'UTC') AND
                                    toDateTime(date_add(MONTH, 6, toDate('{}')), 'UTC')
                          AND is_test != 1
                          and ((usage_model='service') or (usage_model!='service'))
                          AND san_hash not in (select san_hash from analytics.test_accounts)
                          and vod_id = {}
                group by view_date, vod_id, vod_name, san, usage_model, device_type, home_mrf'''.format(date_of, date_of, vod_id)
    TMP_DF = client.query_dataframe(q)
    #print(len(TMP_DF))
    
    list_df_films.append(TMP_DF)
    #print(len(list_df_films))
    return TMP_DF.shape[0]

In [11]:
count = 0

In [12]:
for films_part in films_part:
    tmp = getData(films_part[1],films_part[0])
    count = count + tmp

In [13]:
watched = pd.concat(list_df_films)

In [14]:
watched.shape

(3045294, 9)

In [15]:
watched['san'].nunique()

1139951

In [16]:
watched = watched.query('mrf != ""')
watched = watched.query('mrf != "n/a"')
watched = watched.query('san != "not_available"')
watched = watched.query('san != "ct_nc_web_portal"')

In [17]:
watched.shape

(3039135, 9)

In [18]:
watched['san'].nunique()

1139514

In [19]:
watched

,san,mrf,view_date,vod_name,vod_id,usage_model,device_type,count_of_views,duration_in_minutes
0,4119789008,dv,2021-04-14,NAVI. Рожденные побеждать,114501547,service,STB,7,25.08
1,021801336418,mos,2021-04-09,NAVI. Рожденные побеждать,114501547,service,NCMOBILEANDROID,1,0.85
2,77074456173,ural,2021-04-13,NAVI. Рожденные побеждать,114501547,service,STB,7,34.73
3,77089163046,ural,2021-05-10,NAVI. Рожденные побеждать,114501547,service,STB,1,41.55
4,0402423118,sth,2021-07-01,NAVI. Рожденные побеждать,114501547,service,STB,1,0.83
...,...,...,...,...,...,...,...,...,...
767215,10217118832773,nw,2021-05-26,Батя,113428464,service,STB,4,77.58
767216,068007181247,sib,2021-04-02,Батя,113428464,service,SMARTTVTIZEN,5,131.03
767217,0402243553,sth,2021-03-19,Батя,113428464,service,STB,2,76.37
767218,064005210672,sib,2021-04-23,Батя,113428464,service,SMARTTVTIZEN,1,76.35
767219,10211018224780,nw,2021-03-19,Батя,113428464,service,SMARTTVTIZEN,4,77.42

In [20]:
groups = watched.groupby('mrf')['san'].unique().reset_index()
groups

    mrf                                                san
0    ct  [0122773103, 0122506407, 0114247760, 011580242...
1    dv  [4119789008, 4249082619, 4219720021, 997010115...
2   mos  [021801336418, 99804667892, 0800077676, 080002...
3    nw  [10213018517382, 10212001332497, 1021501878202...
4   sib  [065017112092, 061502917733, 060000608238, 068...
5   sth  [0402423118, 0400072699, 0402362138, 048046692...
6  ural  [77074456173, 77089163046, 77066662387, 770451...
7   vlg  [030738721107, 0302016170, 031134083256, 99303...

In [21]:
engine=sqlalchemy.create_engine('mysql+pymysql://restream:ypFlFQo3fHJLw@87.226.198.234:3306/restream')

In [22]:
def find_mrf_data(databasename, intervalList):

    MRFS = {
        'core': ('core', 'core.db-1.dev.bigdata.restr.im', 'db-1.dev.bigdata.restr.im', '1521'),
        'ct': ('ct', 'center.db-1.dev.bigdata.restr.im', 'db-1.dev.bigdata.restr.im', '1521'),
        'mos': ('mos', 'mos.db-1.dev.bigdata.restr.im', 'db-1.dev.bigdata.restr.im', '1521'),
        'vlg': ('vlg', 'volga.db-1.dev.bigdata.restr.im', 'db-1.dev.bigdata.restr.im', '1521'),
        'ural': ('ural', 'ural.db-1.dev.bigdata.restr.im', 'db-1.dev.bigdata.restr.im', '1521'),
        'sth': ('sth', 'south.db-1.dev.bigdata.restr.im', 'db-1.dev.bigdata.restr.im', '1521'),
        'sib': ('sib', 'sibir.db-1.dev.bigdata.restr.im', 'db-1.dev.bigdata.restr.im', '1521'),
        'nw': ('nw', 'nw.db-1.dev.bigdata.restr.im', 'db-1.dev.bigdata.restr.im', '1521'),
        'dv': ('dv', 'dv.db-1.dev.bigdata.restr.im', 'db-1.dev.bigdata.restr.im', '1521')
            }
    oracle_connection = cx_Oracle.connect(('ulasdev/DOGE939JWW@(DESCRIPTION = (ADDRESS = (PROTOCOL = TCP)'
    + '(HOST = {2})(PORT = {3}))(CONNECT_DATA = (SERVER = DEDICATED) '
    + '(SERVICE_NAME = {1})))').format(*MRFS[databasename]))
    cur = oracle_connection.cursor()
    
    ids = convertList(intervalList)
#------------------------------------------------------------------------------------------
   
    query='''select mrf, account_number AS san, trunc(created_at) AS san_created_date
                            from master.service_account sa
                            where account_number IN ({})'''.format(ids)    
#------------------------------------------------------------------------------------------
    cur.execute(query)
    result = cur.fetchall()
# -----------------------------------------------------------------------------------------       
    cur.close()
    oracle_connection.close()
    return result

In [23]:
def partitionResult(databaseName, san_ids):
    print(databaseName)
    
    san_ids = list(map(lambda x: str(x), san_ids))
    
    div = divmod(len(san_ids), 1000) # что бы узнать кол-во интервалов, делим длинну массива на 1000, первый элемент содержит кол-во целых интервалов, второй - остаток
    
    round_lengh = (div[0] * 1000) # кол-во элементов массива, кратных 1000 (интервалов)
    
    tail = san_ids[round_lengh+1:] # хвостом будет интервал от кол-ва элементов массива, кратных 1000 + длина последнего с остатком
    head = san_ids[:round_lengh] # началом будет интервал от 0 до кол-ва элементов массива, кратных 1000
    
    a = np.array(head)
    
    multidimensional_list = np.reshape(a, (div[0], 1000)).tolist() # делим на партиции по 1000 
    
    if(len(tail) > 0):
        multidimensional_list.append(tail)
        
    df_for_mrf = pd.DataFrame(columns=['mrf', 'san','san_created_date'])
    
    # проходимся циклом и записываем результаты в датафрейм
    for partition in multidimensional_list:
        result = find_mrf_data(databaseName, partition)
        STEP_TABLE = pd.DataFrame(result, columns = ['mrf', 'san','san_created_date'])
        df_for_mrf = pd.concat([df_for_mrf, STEP_TABLE])
    print(df_for_mrf.shape, ' df_for_mrf')
    return df_for_mrf

In [25]:
list_df = []
table_san_created = pd.DataFrame(columns=['mrf', 'san','san_created_date'])
# вызываем ф-цию для санов, сгруппированных по МРФ и записываем в промежуточные таблицы 
for i in range(len(groups)):
    san_ids = groups['san'][i].tolist()
    mrf_name = groups['mrf'][i]
# далее конкатенируем все промежуточные таблицы в одну и записываем в таблицу FINISH_RESULT    
    table_san_created = pd.concat([table_san_created, partitionResult(mrf_name, san_ids)])
    print(table_san_created.shape, ' table_sun_created')

In [26]:
table_san_created = pd.read_csv('Модель оценки контента — доп. фильмы. Таблица санов с датой создания.csv', dtype={'san':'str'})

In [27]:
table_san_created = table_san_created[['mrf', 'san', 'san_created_date']]

In [28]:
table_san_created

         mrf          san san_created_date
0         ct   0110011244       2020-09-13
1         ct   0110017207       2020-03-23
2         ct   0110050953       2020-04-29
3         ct   0110150821       2017-05-18
4         ct   0110167589       2020-09-18
...      ...          ...              ...
1101866  vlg  99303295506       2021-04-10
1101867  vlg  99303340106       2021-04-20
1101868  vlg  99303411705       2021-05-05
1101869  vlg  99303422640       2021-05-08
1101870  vlg  99303437494       2021-05-12

[1101871 rows x 3 columns]

In [35]:
# table_san_created.to_csv('Модель оценки контента — доп. фильмы. Таблица санов с датой создания.csv')

In [29]:
table_san_created['san'].nunique()

1101871

In [30]:
watched_with_created = watched.merge(table_san_created, on =['san', 'mrf'])

In [31]:
watched_with_created['san'].nunique()

1101871

In [32]:
watched_with_created.isnull().sum()

san                    0
mrf                    0
view_date              0
vod_name               0
vod_id                 0
usage_model            0
device_type            0
count_of_views         0
duration_in_minutes    0
san_created_date       0
dtype: int64

In [33]:
watched_with_created = watched_with_created[['san', 'san_created_date', 'mrf', 'view_date', 'vod_id', 'vod_name', 'device_type', 'usage_model', 'count_of_views', 'duration_in_minutes']]

In [34]:
watched_with_created.head()

,san,san_created_date,mrf,view_date,vod_id,vod_name,device_type,usage_model,count_of_views,duration_in_minutes
0,4119789008,2018-06-22,dv,2021-04-14,114501547,NAVI. Рожденные побеждать,STB,service,7,25.08
1,4119789008,2018-06-22,dv,2021-06-02,110563863,Атакан. Кровавая легенда,STB,avod,2,61.82
2,4119789008,2018-06-22,dv,2021-04-17,113545738,Белый снег,STB,service,2,116.72
3,4119789008,2018-06-22,dv,2021-05-16,116931493,Будь моим Кириллом,STB,service,3,85.25
4,4119789008,2018-06-22,dv,2021-01-06,110360155,Глубокое погружение,STB,service,1,2.92

In [35]:
watched_with_created['view_date'] = pd.to_datetime(watched_with_created['view_date'], format = '%Y-%m-%d')

In [36]:
watched_with_created['san_created_date'] = pd.to_datetime(watched_with_created['san_created_date'], format = '%Y-%m-%d')

In [37]:
watched_with_created.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2990785 entries, 0 to 2990784
Data columns (total 10 columns):
 #   Column               Dtype
---  ------               -----
 0   san                  object
 1   san_created_date     datetime64[ns]
 2   mrf                  object
 3   view_date            datetime64[ns]
 4   vod_id               int64
 5   vod_name             object
 6   device_type          object
 7   usage_model          object
 8   count_of_views       int64
 9   duration_in_minutes  float64
dtypes: datetime64[ns](2), float64(1), int64(2), object(5)
memory usage: 251.0+ MB

Добавляем условие, которое гласит, что регистрация должна быть в пределах 2х дней до просмотра

In [38]:
watched_with_created['condition'] = (watched_with_created['view_date'] - watched_with_created['san_created_date']) / np.timedelta64(1, 'D')

In [39]:
watched_with_created.head()

,san,san_created_date,mrf,view_date,vod_id,vod_name,device_type,usage_model,count_of_views,duration_in_minutes,condition
0,4119789008,2018-06-22,dv,2021-04-14,114501547,NAVI. Рожденные побеждать,STB,service,7,25.08,1027.0
1,4119789008,2018-06-22,dv,2021-06-02,110563863,Атакан. Кровавая легенда,STB,avod,2,61.82,1076.0
2,4119789008,2018-06-22,dv,2021-04-17,113545738,Белый снег,STB,service,2,116.72,1030.0
3,4119789008,2018-06-22,dv,2021-05-16,116931493,Будь моим Кириллом,STB,service,3,85.25,1059.0
4,4119789008,2018-06-22,dv,2021-01-06,110360155,Глубокое погружение,STB,service,1,2.92,929.0

In [40]:
watched_with_created['san'].nunique()

1101871

# Группа 1

Выбираем __"новые"__ саны

In [41]:
NEW_san_who_watched = watched_with_created.query('0 <= condition <=2')

In [42]:
NEW_san_who_watched.shape

(144647, 11)

In [43]:
NEW_san_who_watched['san'].nunique()

119188

In [44]:
NEW_san_who_watched = NEW_san_who_watched.merge(films[['date_of_appearance_in_Wink','vod_id']], on = ['vod_id'], how = 'left')

In [45]:
NEW_san_who_watched = NEW_san_who_watched[['san', 'san_created_date', 'mrf', 'view_date', 'vod_name', 'vod_id', 'date_of_appearance_in_Wink', 'usage_model',  'device_type', 'count_of_views', 'duration_in_minutes']]

Добавляем месяц жизни фильма. Он будет равен разнице между датой пояления фильма на Wink и датой просмотра, выраженной в месяцах

In [46]:
NEW_san_who_watched['films_lifetime'] = (NEW_san_who_watched['view_date'] - NEW_san_who_watched['date_of_appearance_in_Wink']) / np.timedelta64(1, 'M')
NEW_san_who_watched['films_lifetime'] = NEW_san_who_watched['films_lifetime'].round().astype('int')

In [47]:
NEW_san_who_watched.head()

,san,san_created_date,mrf,view_date,vod_name,vod_id,date_of_appearance_in_Wink,usage_model,device_type,count_of_views,duration_in_minutes,films_lifetime
0,061502917733,2021-03-05,sib,2021-03-07,Дедушка нелёгкого поведения,106595170,2020-11-30,service,STB,1,93.97,3
1,99804667892,2021-04-09,mos,2021-04-09,NAVI. Рожденные побеждать,114501547,2021-04-08,service,NCWEB,1,47.00,0
2,99303359290,2021-04-24,vlg,2021-04-24,NAVI. Рожденные побеждать,114501547,2021-04-08,service,NCWEB,3,48.88,1
3,99502917484,2021-05-24,ural,2021-05-24,NAVI. Рожденные побеждать,114501547,2021-04-08,service,NCMOBILEANDROID,5,47.18,2
4,0116784514,2021-04-15,ct,2021-04-17,Батя,113428464,2021-03-18,service,STB,1,0.58,1

Группируем по идентификатору фильма и его месяцу жизни

In [48]:
NEW_san_who_watched['san'].nunique()

119188

In [49]:
common_table_of_wathing_by_new_san = NEW_san_who_watched.groupby(['vod_name', 'vod_id', 'device_type'])['san', 'count_of_views', 'duration_in_minutes'].agg({'san':'nunique', 'count_of_views':'sum', 'duration_in_minutes':'sum'}).reset_index().sort_values(by = 'vod_name')
common_table_of_wathing_by_new_san.head(30)

,vod_name,vod_id,device_type,san,count_of_views,duration_in_minutes
0,NAVI. Рожденные побеждать,114501547,-1,52,261,1450.43
1,NAVI. Рожденные побеждать,114501547,ANDROIDTV,115,205,1469.86
2,NAVI. Рожденные побеждать,114501547,APPLETV,2,12,49.41
3,NAVI. Рожденные побеждать,114501547,NCIPAD,17,50,461.20
4,NAVI. Рожденные побеждать,114501547,NCIPHONE,166,874,4747.42
5,NAVI. Рожденные побеждать,114501547,NCMOBILEANDROID,330,1162,6558.20
6,NAVI. Рожденные побеждать,114501547,NCSTVLGWEBOS,103,204,2385.31
7,NAVI. Рожденные побеждать,114501547,NCSTVSAMSUNGORSAY,12,37,331.89
8,NAVI. Рожденные побеждать,114501547,NCTABLETANDROID,6,11,158.03
9,NAVI. Рожденные побеждать,114501547,NCWEB,979,5761,34998.20
10,NAVI. Рожденные побеждать,114501547,SMARTTVTIZEN,78,214,1839.17
11,NAVI. Рожденные побеждать,114501547,STB,205,416,3333.73
20,Американский друг,109633924,STB,2,3,115.20
19,Американский друг,109633924,SMARTTVTIZEN,5,7,12.31
17,Американский друг,109633924,NCTABLETANDROID,2,2,8.32
16,Американский друг,109633924,NCSTVSAMSUNGORSAY,1,1,1.30
18,Американский друг,109633924,NCWEB,5,6,37.87
14,Американский друг,109633924,NCMOBILEANDROID,2,2,2.94
13,Американский друг,109633924,NCIPHONE,2,2,1.48
12,Американский друг,109633924,ANDROIDTV,4,6,39.69
15,Американский друг,109633924,NCSTVLGWEBOS,11,17,252.78
31,Архипелаг,119523903,STB,94,147,2565.12
30,Архипелаг,119523903,SMARTTVTIZEN,35,58,813.48
29,Архипелаг,119523903,NCWEB,14,29,417.25
28,Архипелаг,119523903,NCTABLETANDROID,16,32,173.83
26,Архипелаг,119523903,NCSTVLGWEBOS,27,51,526.59
27,Архипелаг,119523903,NCSTVSAMSUNGORSAY,8,12,136.51
24,Архипелаг,119523903,NCIPHONE,24,41,185.26
23,Архипелаг,119523903,NCIPAD,3,3,2.97
22,Архипелаг,119523903,APPLETV,2,2,2.80

In [50]:
# common_table_of_wathing_by_new_san.to_excel('Группа 1. Разделение по типу устройств.xlsx', index = False)

In [51]:
aggregated_table_of_wathing_by_new_san = NEW_san_who_watched.groupby('vod_name')['san', 'device_type', 'count_of_views', 'duration_in_minutes'].agg({'san':'nunique','device_type':'nunique', 'count_of_views':'sum', 'duration_in_minutes':'sum'}).reset_index().sort_values(by = 'vod_name')
aggregated_table_of_wathing_by_new_san

,vod_name,san,device_type,count_of_views,duration_in_minutes
0,NAVI. Рожденные побеждать,1993,12,9207,57782.85
1,Американский друг,34,9,46,471.89
2,Архипелаг,403,11,709,7124.59
3,Ассистентка,1566,12,2634,27931.40
4,Атакан. Кровавая легенда,3083,12,5589,58757.13
...,...,...,...,...,...
115,Четыреста ударов,37,7,47,709.86
116,Чёрная Венера,141,12,283,4596.96
117,"Чёрная кошка, белый кот",96,11,196,3288.95
118,Чёрный снег,1248,11,3069,30901.32
119,Шербурские зонтики,50,9,76,844.62

In [52]:
# aggregated_table_of_wathing_by_new_san.to_excel('Группа 1.xlsx', index = False)

##### Выручка новых пользователей за 6 месяцев жизни каждого из фильмов

Считаем всю выручку "новых" пользователей за время жизни фильмов. <br>
Сначала берем табличку тех, кто __смотрел фильмы и зарегистрировался за 2 дня до этого__

In [53]:
NEW_san_who_watched.shape

(144647, 12)

In [54]:
NEW_san_who_watched['san'].nunique()

119188

Группируем по айдишникам фильмов. Получаем таблицу с айдишником фильма и со всеми новичками, кто его смотрел. По ним и будем проходиться, ища выручку

In [55]:
watching_by_new = NEW_san_who_watched.groupby(['vod_id', 'date_of_appearance_in_Wink'])['san'].unique().reset_index()
watching_by_new.sort_values(by = 'date_of_appearance_in_Wink')

,vod_id,date_of_appearance_in_Wink,san
2,104749011,2020-10-01,"[030582363425, 0402437612, 10217118636214, 060..."
3,104783780,2020-10-01,"[0128451737, 0176610881, 030640093211, 0312788..."
6,104966813,2020-10-02,"[021100844465, 0402405739, 99202012812, 021400..."
5,104963037,2020-10-03,"[0402436802, 99501870092, 99302155774, 0115297..."
7,105016883,2020-10-10,"[0176610881, 069004633268, 0402347505, 0114918..."
...,...,...,...
115,117558427,2021-06-10,"[10217119472008, 031102378991, 062003114203, 1..."
119,119202343,2021-06-16,"[0402443458, 4219561893, 99805395550, 10210019..."
116,117564163,2021-06-16,"[021804392967, 0800231330, 9805307124, 0402606..."
118,118318749,2021-06-24,"[99303648836, 030909825900, 068007901963, 9960..."
120,119523903,2021-07-01,"[9805406264, 9503056615, 9701474638, 994043379..."

In [56]:
def getInfo(date1, date2,  san_ids):
    san_ids = convertList(san_ids)
    query = '''SELECT
                   COUNT(san),
                   SUM(purchase_cost/100) as total_revenue
                FROM analytics.UserEvents
                WHERE
                    ((event = 16 and purchase_result='Success') or (event = 34 and result_code = 0))
                    AND event_date BETWEEN toDateTime(toDate('{}'), 'UTC') AND
                                    toDateTime(date_add(MONTH, 6, toDate('{}'))  , 'UTC')
                    AND is_test != 1
                    AND san_hash not in (select san_hash from analytics.test_accounts)
                    AND san in ({})'''.format(date1,  date2,  san_ids)
    return client.query_dataframe(query).values.tolist()

In [57]:
watching_list = watching_by_new.values.tolist()
new_list = []
for i in range(len(watching_list)):
    tmp = []
    list_tmp = []
    tmp.append(watching_list[i][0])
    tmp.append(watching_list[i][1])
    count_by = 0
    sum_revenue = 0

    date_films = watching_list[i][1]
    #     Если список меньше 1000 в этот блок не заходим
    if len(watching_list[i][2]) > 1000:
        san_list = watching_list[i][2]
        div = divmod(len(san_list), 1000)
        round_lengh = (div[0] * 1000)
        tail = san_list[round_lengh + 1:]
        head = san_list[:round_lengh]
        a = np.array(head)
        list_tmp = np.reshape(a, (div[0], 1000)).tolist()
        if len(tail) > 0:
            list_tmp.append(tail)
    else:
        list_tmp.append(watching_list[i][2])

    for sans in list_tmp:
        result = getInfo(date_films, date_films, sans)
        count_by = count_by + round(result[0][0])
        sum_revenue = sum_revenue + result[0][1]
        print(sum_revenue)
    tmp.append(count_by)
    tmp.append(sum_revenue)
    new_list.append(tmp)

15007.919999999998
6774.96
145477.86999999997
163519.85999999996
169881.11
254679.40999999997
318217.82999999996
364732.61
41889.97
34489.97
69912.85
72219.85
275200.5
376701.31
86121.85999999999
188108.12
127206.68999999999
127746.68999999999
43156.87999999999
90983.90000000001
16950.989999999998
2346.99
526.0
5806.99
8548.949999999999
3636.99
0.0
54789.83
1023.99
2017.98
4994.99
22085.920000000002
4302.98
30765.45
9125.98
22869.97
950.0
1235.99
3480.0
803.96
1493.99
86257.8
2114.98
5882.959999999999
9503.96
13581.0
1213.99
88600.64000000001
161970.83999999997
233255.84
323387.36
385566.95999999996
50077.88999999999
871.0
416801.58999999997
564369.29
641813.7000000001
709890.5000000001
757495.9800000001
814095.4400000001
864307.79
922333.3200000001
951003.14
104624.18
120603.06
157313.28000000003
207474.44000000003
282951.69
353657.1
374357.77999999997
1728.0
25851.519999999997
390.90000000000003
1054.0
24.99
1956.0
5353.959999999999
1881.98
-0.01
5572.99
18434.960000000003
1615.98
13811.919999999998
7349.96
2655.99
14949.849999999999
7700.96
22894.43
94716.91
95750.86
1502.97
1890.97
25130.98
1002.98
1067.99
4528.98
103049.59000000001
130888.50000000001
7137.99
162459.37
214250.46999999997
260450.91999999995
865.0
11547.98
3678.99
-0.01
2978.98
124120.42000000003
206996.60000000003
222589.54000000004
58056.579999999994
63103.469999999994
73145.37
118245.63000000002
140860.73
170271.81
190158.96
193515.88
4994.0
534.99
7183.959999999999
44575.97
4591.0
109181.93999999999
112939.62999999999
151945.28
67616.73
909.99
280.0
2341.99
5752.959999999999
91536.64
136906.08000000002
136906.07
14105.97
281479.24999999994
474946.5999999999
634712.94
820222.6499999999
992919.8399999999
1164867.2999999998
1366827.2899999998
1583709.2299999997
1721588.4299999997
1995547.5299999998
2167252.0799999996
2210798.5399999996
2260296.0599999996
2300038.5899999994
2337568.0399999996
2368117.5399999996
2431301.0699999994
2467354.5599999996
2504247.1499999994
2544152.6699999995
2593389.0299999993
2622308.039999999
2650156.5299999993
2685808.8999999994
2722497.4499999993
2767007.9699999993
2804018.5299999993
2846066.7099999995
2874118.3199999994
2899596.8799999994
2934871.4499999993
2963867.059999999
2986957.709999999
3033803.289999999
3082304.839999999
3111002.439999999
3131997.049999999
3172856.6399999987
3200080.259999999
3220981.8099999987
3388277.3799999985
3438001.9799999986
3502563.5599999987
3542413.0999999987
3567492.6299999985
3613134.1599999983
3641442.849999998
3668987.559999998
3718047.069999998
3738486.659999998
3774208.1699999976
3794515.8199999975
3823281.3099999977
3850645.8799999976
3874110.3799999976
3895461.9399999976
53867.15000000001
94516.32
120217.82
88612.4
93081.32999999999
133600.07
143093.0
45406.28
166107.75
181503.63
39143.75
69132.45
56892.21
62646.17
44725.45999999999
5438.0
3862.9700000000003
45427.619999999995
189587.97000000003
282629.17000000004
330015.31000000006
75289.28
101919.94
21866.89
45554.49
8095.91
15117.939999999999
284684.57
290295.21
294289.01
5618.96
101842.65
103344.53
8056.89

In [58]:
RESULT_DATA = pd.DataFrame(new_list, columns = ['vod_id', 'date_of_appearance_in_Wink', 'count_san', 'revenue_sum'])

In [59]:
PURCHASE_RESULT_DATA = RESULT_DATA.merge(films[['film', 'vod_id']], on = 'vod_id', how = 'left')

In [60]:
PURCHASE_RESULT_DATA = PURCHASE_RESULT_DATA[['film', 'vod_id', 'date_of_appearance_in_Wink', 'count_san', 'revenue_sum']]
PURCHASE_RESULT_DATA.sort_values(by = 'revenue_sum', ascending = False)

,film,vod_id,date_of_appearance_in_Wink,count_san,revenue_sum
99,Батя,113428464,2021-03-18,36610,3895461.94
45,Подольские курсанты,107071994,2020-12-11,6322,951003.14
42,Дедушка нелёгкого поведения,106595170,2020-11-30,2899,385566.96
7,Ассистентка,105016883,2020-10-10,1841,376701.31
47,Кольская сверхглубокая,107209756,2020-12-17,3224,374357.78
...,...,...,...,...,...
94,Пазолини,112767912,2021-02-20,6,280.00
52,Беспорядок,109634655,2020-12-16,4,24.99
19,Жизнь — это роман,106152608,2020-11-09,0,0.00
79,Летнее время,110405116,2020-12-22,2,-0.01
56,Клуб Буена Виста,109637179,2020-12-16,4,-0.01

In [61]:
from dateutil.relativedelta import relativedelta  
PURCHASE_RESULT_DATA['offset'] = PURCHASE_RESULT_DATA['date_of_appearance_in_Wink'].apply(lambda x: relativedelta(months=6))

In [62]:
PURCHASE_RESULT_DATA['date_of_appearance_plus_6_month'] = PURCHASE_RESULT_DATA['date_of_appearance_in_Wink'] + PURCHASE_RESULT_DATA['offset']

In [63]:
PURCHASE_RESULT_DATA = PURCHASE_RESULT_DATA[['date_of_appearance_in_Wink', 'date_of_appearance_plus_6_month', 'film', 'vod_id', 'count_san', 'revenue_sum']]
PURCHASE_RESULT_DATA.sort_values(by = 'revenue_sum', ascending = False)

,date_of_appearance_in_Wink,date_of_appearance_plus_6_month,film,vod_id,count_san,revenue_sum
99,2021-03-18,2021-09-18,Батя,113428464,36610,3895461.94
45,2020-12-11,2021-06-11,Подольские курсанты,107071994,6322,951003.14
42,2020-11-30,2021-05-30,Дедушка нелёгкого поведения,106595170,2899,385566.96
7,2020-10-10,2021-04-10,Ассистентка,105016883,1841,376701.31
47,2020-12-17,2021-06-17,Кольская сверхглубокая,107209756,3224,374357.78
...,...,...,...,...,...,...
94,2021-02-20,2021-08-20,Пазолини,112767912,6,280.00
52,2020-12-16,2021-06-16,Беспорядок,109634655,4,24.99
19,2020-11-09,2021-05-09,Жизнь — это роман,106152608,0,0.00
79,2020-12-22,2021-06-22,Летнее время,110405116,2,-0.01
56,2020-12-16,2021-06-16,Клуб Буена Виста,109637179,4,-0.01

In [64]:
PURCHASE_RESULT_DATA_GROUP = PURCHASE_RESULT_DATA.groupby('film')['count_san', 'revenue_sum'].sum().reset_index().sort_values(by = 'revenue_sum', ascending = False)
PURCHASE_RESULT_DATA_GROUP.tail(50)

                              film  count_san  revenue_sum
95                  Соседка (1981)         74      7137.99
13                     Возвращение         47      6774.96
109             Украденные поцелуи         40      5882.96
44                    Кинолюбитель         38      5806.99
115               Четыреста ударов         34      5752.96
39                   Играй со мной         47      5618.96
60                  Львиная любовь         33      5572.99
72                   Ноги Марадоны         27      5438.00
47                  Код неизвестен         53      5353.96
28                   Деньги (1983)         29      4994.99
74           Одна поёт, другая нет         30      4994.00
86                      Пуэнт-Курт         16      4591.00
90                   Семейный очаг         29      4528.98
6                        Без конца         30      4302.98
57                     Ловец теней         33      3862.97
114                      Церемония         38      3678.99
36                     Жюль и Джим         10      3636.99
83             Процесс Жанны д'Арк         23      3480.00
119            Шербургские зонтики         24      2978.98
113                    Фисгармония         11      2655.99
37                 Загадочная кожа         17      2346.99
87                        Пчеловод         15      2341.99
19              Девушки из Рошфора         22      2114.98
34                    Женское дело         20      2017.98
40                        Ирма Веп         15      1956.00
66        Мой американский дядюшка         17      1890.97
45                  Клео от 5 до 7         14      1881.98
103                        Томмазо         13      1728.00
98                         Счастье         13      1615.98
52      Короткий фильм об убийстве         22      1502.97
65                       Мелодрама          9      1493.99
93                          Случай         17      1235.99
99             Тайны и ложь (1996)         13      1213.99
85            Путешествие к берегу         13      1067.99
29       Джейн Б. глазами Аньес В.          7      1054.00
7            Без крыши, вне закона          9      1023.99
78                    Париж, Техас         13      1002.98
77                   Параноид парк         16       950.00
63                  Мастер кунг-фу         12       909.99
75               Освободите Джимми         10       871.00
97            Стреляйте в пианиста          8       865.00
62                           Маски         11       803.96
96   Сто и одна ночь Симона Синема          6       534.99
31                     Дурная ночь          7       526.00
1                Американский друг         18       390.90
76                        Пазолини          6       280.00
9                       Беспорядок          4        24.99
35               Жизнь — это роман          0         0.00
56                    Летнее время          2        -0.01
46                Клуб Буена Виста          4        -0.01

In [65]:
# PURCHASE_RESULT_DATA.to_excel('Группа 1. Выручка по новым пользователям за пол года существования фильмов.xlsx', index = False)

# Группа 3

Выбираем из смотрящих "старичков"

In [66]:
OLD_san_who_watched = watched_with_created.query('condition > 2')

In [67]:
OLD_san_who_watched = OLD_san_who_watched.query('san not in ("dv_nc_web_portal", "mos_nc_web_portal", "nw_nc_web_portal","sib_nc_web_portal", "sth_nc_web_portal", "ural_nc_web_portal", "vlg_nc_web_portal" )')

In [68]:
OLD_san_who_watched.head(5)

,san,san_created_date,mrf,view_date,vod_id,vod_name,device_type,usage_model,count_of_views,duration_in_minutes,condition
0,4119789008,2018-06-22,dv,2021-04-14,114501547,NAVI. Рожденные побеждать,STB,service,7,25.08,1027.0
1,4119789008,2018-06-22,dv,2021-06-02,110563863,Атакан. Кровавая легенда,STB,avod,2,61.82,1076.0
2,4119789008,2018-06-22,dv,2021-04-17,113545738,Белый снег,STB,service,2,116.72,1030.0
3,4119789008,2018-06-22,dv,2021-05-16,116931493,Будь моим Кириллом,STB,service,3,85.25,1059.0
4,4119789008,2018-06-22,dv,2021-01-06,110360155,Глубокое погружение,STB,service,1,2.92,929.0

In [69]:
list_of_old_san = OLD_san_who_watched['san'].unique().tolist()

In [70]:
len(list_of_old_san)

1008099

### Кол-во просмотров каждого фильма этими учетными записями <br> Кол-во просмотров<br> Кол-во уникальных устройств, которые посмотрели этот фильм<br> Суммарная продолжительность просмотров в минутах

In [71]:
aggregated_table_of_wathing_by_old_san = OLD_san_who_watched.groupby('vod_name')['san', 'device_type', 'count_of_views', 'duration_in_minutes'].agg({'san':'nunique','device_type':'nunique', 'count_of_views':'sum', 'duration_in_minutes':'sum'}).reset_index().sort_values(by = 'vod_name')
aggregated_table_of_wathing_by_old_san

,vod_name,san,device_type,count_of_views,duration_in_minutes
0,NAVI. Рожденные побеждать,31774,12,71000,591225.54
1,Американский друг,1281,11,2845,47848.57
2,Архипелаг,30315,12,77469,1084458.04
3,Ассистентка,35160,12,61297,1102987.25
4,Атакан. Кровавая легенда,67046,12,142647,2308766.75
...,...,...,...,...,...
116,Четыреста ударов,1877,11,3146,45348.83
117,Чёрная Венера,3959,11,12807,214392.83
118,"Чёрная кошка, белый кот",2230,11,4793,109814.28
119,Чёрный снег,35755,12,99336,1367880.47
120,Шербурские зонтики,1620,11,2841,39388.72

In [72]:
#aggregated_table_of_wathing_by_old_san.to_excel('Группа 3.xlsx', index = False)

In [73]:
common_table_of_wathing_by_old_san = OLD_san_who_watched.groupby(['vod_name', 'vod_id', 'device_type'])['san', 'count_of_views', 'duration_in_minutes'].agg({'san':'nunique', 'count_of_views':'sum', 'duration_in_minutes':'sum'}).reset_index().sort_values(by = 'vod_name')
common_table_of_wathing_by_old_san.head(10)

,vod_name,vod_id,device_type,san,count_of_views,duration_in_minutes
0,NAVI. Рожденные побеждать,114501547,-1,7,20,133.07
11,NAVI. Рожденные побеждать,114501547,STB,25978,54168,481328.62
10,NAVI. Рожденные побеждать,114501547,SMARTTVTIZEN,671,1867,15275.86
9,NAVI. Рожденные побеждать,114501547,NCWEB,695,3018,18825.81
7,NAVI. Рожденные побеждать,114501547,NCSTVSAMSUNGORSAY,48,113,1210.88
6,NAVI. Рожденные побеждать,114501547,NCSTVLGWEBOS,671,1530,15170.87
8,NAVI. Рожденные побеждать,114501547,NCTABLETANDROID,110,203,1204.26
4,NAVI. Рожденные побеждать,114501547,NCIPHONE,944,3303,17555.37
3,NAVI. Рожденные побеждать,114501547,NCIPAD,97,301,1806.87
2,NAVI. Рожденные побеждать,114501547,APPLETV,26,66,502.06

In [74]:
# common_table_of_wathing_by_old_san.to_excel('Группа 3. Просмотры старичками с разделением по типу устройств.xlsx', index = False)

##### Триггеры покупок

In [75]:
table_for_analysis = films[['vod_id', 'date_of_appearance_in_Wink']]

In [76]:
table_for_analysis

        vod_id date_of_appearance_in_Wink
0    114501547                 2021-04-08
1    107612888                 2020-12-16
2    109633924                 2020-12-16
3    107613026                 2020-12-16
4    119523903                 2021-07-01
..         ...                        ...
328  110369788                 2020-12-22
329  110405441                 2020-12-22
330  110369774                 2020-12-22
331   88239992                 2020-01-20
332  113428464                 2021-03-18

[333 rows x 2 columns]

In [77]:
def getDataTriggers(vod_id, date):
    qwery3 = '''
        SELECT last_trigger_id, content_name, san, sum(purchase_cost/100) as price
        FROM (
                SELECT san, 
                dictGetString('zhernakova.service_names_dict', 'service_name', toUInt64(content_id)) as content_name, 
                purchase_cost,
                groupArray(event) as ev,
                arrayFilter( j, i-> ev[i]=33 and ev[i+1]=34, groupArray( item_id ), arrayEnumerate(ev))[1] as last_trigger_id,
                dictGetString('vod_content','vod_name', toUInt64(last_trigger_id)) as trigger_name, 
                uniq(san) as uniqsan
                    FROM (
                        SELECT   event, san, content_id, purchase_cost, item_id
                        FROM  analytics.UserEvents
                            WHERE ((event = 33 and  item_id = ({})) or (event =34 and result_code=0))
                                   AND event_date BETWEEN toDateTime(toDate('{}'), 'UTC') AND toDateTime(date_add(MONTH, 6, toDate('{}'))  , 'UTC')
                                   AND lower(usage_model) ='service'
                                   AND is_test != 1
                                   AND san_hash not in (select san_hash from analytics.test_accounts)
                        ORDER BY san, event_datetime
                        )
        GROUP BY  san, content_id, content_name, purchase_cost
        HAVING hasAll(ev,[33,34])
               )
        GROUP BY san, content_name, last_trigger_id
   
   
   UNION ALL

        SELECT last_trigger_id, content_name, san, sum(purchase_cost/100) as price
        FROM (
                SELECT san, content_name, content_id, groupArray(event) as ev, purchase_cost,
                arrayFilter( j, i-> ev[i]=15 and ev[i+1]=16, groupArray( trigger_id ), arrayEnumerate(ev))[1] as last_trigger_id,
                arrayFilter( j, i-> ev[i]=15 and ev[i+1]=16, groupArray( trigger_name ), arrayEnumerate(ev))[1] as last_trigger
            FROM 
                (
                    SELECT  event_datetime,  event, san, toString(content_name) as content_name,  trigger_name, content_id, trigger_id, purchase_cost
                    FROM  analytics.UserEvents
                        WHERE ((event = 15  and trigger_id = ({})) or (event =16 and purchase_result='Success'))
                              AND event_date BETWEEN toDateTime(toDate('{}'), 'UTC') AND toDateTime(date_add(MONTH, 6, toDate('{}'))  , 'UTC')
                              AND lower(usage_model) = 'service'
                              AND is_test != 1
                              AND san_hash not in (select san_hash from analytics.test_accounts)
                    ORDER BY san,event_datetime
                    )
        GROUP BY  san, content_name,content_id, purchase_cost
        HAVING hasAll(ev,[15,16])
              )
        GROUP BY san, content_name, last_trigger_id'''.format(vod_id, date, date, vod_id, date, date)
    
    return  client.query_dataframe(qwery3)

In [78]:
created_table = pd.DataFrame(columns=['last_trigger_id','content_name','san','price'])
for i in range(len(table_for_analysis)):
    vod_id = table_for_analysis['vod_id'][i]
    date = table_for_analysis['date_of_appearance_in_Wink'][i]
    result = getDataTriggers(vod_id, date)
#     print(result)
    STEP_TABLE = pd.DataFrame(result, columns=['last_trigger_id','content_name','san','price'])
    created_table = pd.concat([created_table, STEP_TABLE])
    print(created_table.shape, ' created_table')

(1320, 4)  created_table
(1320, 4)  created_table
(1325, 4)  created_table
(1325, 4)  created_table
(1397, 4)  created_table
(1567, 4)  created_table
(1567, 4)  created_table
(1567, 4)  created_table
(1567, 4)  created_table
(1615, 4)  created_table
(1615, 4)  created_table
(1615, 4)  created_table
(1615, 4)  created_table
(1615, 4)  created_table
(1616, 4)  created_table
(1616, 4)  created_table
(1616, 4)  created_table
(1616, 4)  created_table
(1616, 4)  created_table
(2674, 4)  created_table
(2674, 4)  created_table
(2674, 4)  created_table
(2674, 4)  created_table
(2851, 4)  created_table
(2863, 4)  created_table
(2869, 4)  created_table
(2879, 4)  created_table
(2879, 4)  created_table
(2879, 4)  created_table
(2879, 4)  created_table
(2879, 4)  created_table
(2879, 4)  created_table
(2879, 4)  created_table
(2879, 4)  created_table
(3006, 4)  created_table
(3006, 4)  created_table
(3006, 4)  created_table
(3006, 4)  created_table
(3006, 4)  created_table
(3006, 4)  created_table
(3006, 4)  created_table
(3006, 4)  created_table
(3006, 4)  created_table
(3006, 4)  created_table
(3006, 4)  created_table
(3200, 4)  created_table
(3200, 4)  created_table
(3200, 4)  created_table
(3200, 4)  created_table
(3200, 4)  created_table
(3201, 4)  created_table
(3201, 4)  created_table
(3201, 4)  created_table
(3204, 4)  created_table
(3204, 4)  created_table
(3204, 4)  created_table
(3207, 4)  created_table
(3207, 4)  created_table
(3551, 4)  created_table
(3975, 4)  created_table
(4029, 4)  created_table
(5249, 4)  created_table
(6047, 4)  created_table
(6216, 4)  created_table
(7317, 4)  created_table
(7317, 4)  created_table
(7317, 4)  created_table
(7317, 4)  created_table
(7317, 4)  created_table
(7320, 4)  created_table
(7320, 4)  created_table
(7320, 4)  created_table
(7321, 4)  created_table
(7321, 4)  created_table
(7321, 4)  created_table
(7323, 4)  created_table
(7323, 4)  created_table
(7326, 4)  created_table
(7327, 4)  created_table
(7327, 4)  created_table
(7327, 4)  created_table
(7366, 4)  created_table
(7366, 4)  created_table
(7366, 4)  created_table
(7366, 4)  created_table
(8735, 4)  created_table
(8735, 4)  created_table
(8735, 4)  created_table
(8735, 4)  created_table
(8736, 4)  created_table
(8736, 4)  created_table
(8736, 4)  created_table
(8736, 4)  created_table
(8736, 4)  created_table
(8736, 4)  created_table
(8736, 4)  created_table
(8737, 4)  created_table
(8737, 4)  created_table
(9054, 4)  created_table
(9054, 4)  created_table
(9075, 4)  created_table
(9075, 4)  created_table
(9077, 4)  created_table
(9077, 4)  created_table
(9260, 4)  created_table
(9284, 4)  created_table
(9284, 4)  created_table
(9284, 4)  created_table
(9284, 4)  created_table
(9284, 4)  created_table
(9286, 4)  created_table
(9286, 4)  created_table
(9286, 4)  created_table
(9286, 4)  created_table
(9286, 4)  created_table
(9286, 4)  created_table
(9288, 4)  created_table
(9288, 4)  created_table
(9288, 4)  created_table
(9289, 4)  created_table
(9289, 4)  created_table
(9289, 4)  created_table
(9291, 4)  created_table
(9291, 4)  created_table
(10351, 4)  created_table
(10351, 4)  created_table
(10351, 4)  created_table
(10351, 4)  created_table
(10604, 4)  created_table
(10604, 4)  created_table
(10604, 4)  created_table
(10604, 4)  created_table
(10618, 4)  created_table
(10618, 4)  created_table
(10629, 4)  created_table
(10629, 4)  created_table
(10629, 4)  created_table
(10629, 4)  created_table
(10629, 4)  created_table
(10629, 4)  created_table
(11251, 4)  created_table
(11251, 4)  created_table
(11251, 4)  created_table
(11251, 4)  created_table
(12144, 4)  created_table
(12167, 4)  created_table
(12170, 4)  created_table
(12170, 4)  created_table
(12170, 4)  created_table
(12173, 4)  created_table
(12242, 4)  created_table
(12242, 4)  created_table
(12242, 4)  created_table
(12242, 4)  created_table
(12242, 4)  created_table
(12242, 4)  created_table
(12242, 4)  created_table
(12242, 4)  created_table
(12242, 4)  created_table
(12244, 4)  created_table
(12244, 4)  created_table
(12247, 4)  created_table
(12247, 4)  created_table
(12247, 4)  created_table
(12247, 4)  created_table
(12247, 4)  created_table
(12247, 4)  created_table
(12264, 4)  created_table
(12264, 4)  created_table
(12264, 4)  created_table
(12264, 4)  created_table
(12266, 4)  created_table
(12266, 4)  created_table
(12266, 4)  created_table
(12267, 4)  created_table
(12267, 4)  created_table
(12272, 4)  created_table
(12272, 4)  created_table
(12272, 4)  created_table
(12272, 4)  created_table
(12451, 4)  created_table
(12451, 4)  created_table
(12455, 4)  created_table
(12455, 4)  created_table
(12455, 4)  created_table
(12463, 4)  created_table
(12463, 4)  created_table
(12471, 4)  created_table
(12471, 4)  created_table
(12471, 4)  created_table
(12471, 4)  created_table
(12473, 4)  created_table
(12499, 4)  created_table
(12499, 4)  created_table
(12504, 4)  created_table
(12504, 4)  created_table
(12504, 4)  created_table
(12504, 4)  created_table
(12505, 4)  created_table
(12505, 4)  created_table
(12541, 4)  created_table
(12541, 4)  created_table
(12542, 4)  created_table
(12542, 4)  created_table
(12542, 4)  created_table
(12547, 4)  created_table
(12547, 4)  created_table
(12547, 4)  created_table
(12550, 4)  created_table
(12550, 4)  created_table
(15445, 4)  created_table
(15445, 4)  created_table
(15445, 4)  created_table
(15445, 4)  created_table
(15463, 4)  created_table
(15472, 4)  created_table
(15472, 4)  created_table
(15472, 4)  created_table
(15472, 4)  created_table
(15472, 4)  created_table
(15472, 4)  created_table
(15472, 4)  created_table
(15602, 4)  created_table
(15602, 4)  created_table
(15604, 4)  created_table
(15604, 4)  created_table
(15604, 4)  created_table
(15606, 4)  created_table
(15606, 4)  created_table
(15607, 4)  created_table
(16101, 4)  created_table
(17034, 4)  created_table
(17034, 4)  created_table
(17034, 4)  created_table
(17034, 4)  created_table
(17037, 4)  created_table
(17037, 4)  created_table
(17520, 4)  created_table
(17520, 4)  created_table
(17520, 4)  created_table
(17520, 4)  created_table
(17552, 4)  created_table
(17552, 4)  created_table
(17552, 4)  created_table
(17552, 4)  created_table
(17552, 4)  created_table
(17554, 4)  created_table
(17554, 4)  created_table
(17734, 4)  created_table
(17734, 4)  created_table
(17734, 4)  created_table
(17734, 4)  created_table
(17744, 4)  created_table
(17744, 4)  created_table
(17744, 4)  created_table
(17745, 4)  created_table
(17745, 4)  created_table
(17745, 4)  created_table
(17745, 4)  created_table
(17745, 4)  created_table
(17745, 4)  created_table
(17745, 4)  created_table
(17748, 4)  created_table
(17748, 4)  created_table
(17748, 4)  created_table
(17749, 4)  created_table
(17749, 4)  created_table
(17784, 4)  created_table
(17784, 4)  created_table
(17784, 4)  created_table
(17808, 4)  created_table
(17808, 4)  created_table
(17815, 4)  created_table
(17815, 4)  created_table
(17815, 4)  created_table
(17815, 4)  created_table
(17815, 4)  created_table
(17815, 4)  created_table
(17820, 4)  created_table
(17820, 4)  created_table
(17820, 4)  created_table
(17820, 4)  created_table
(17820, 4)  created_table
(17823, 4)  created_table
(17823, 4)  created_table
(17823, 4)  created_table
(17828, 4)  created_table
(17828, 4)  created_table
(17828, 4)  created_table
(17847, 4)  created_table
(17847, 4)  created_table
(17847, 4)  created_table
(17847, 4)  created_table
(17848, 4)  created_table
(17850, 4)  created_table
(17850, 4)  created_table
(17850, 4)  created_table
(17850, 4)  created_table
(17851, 4)  created_table
(17851, 4)  created_table
(17942, 4)  created_table
(17942, 4)  created_table
(17942, 4)  created_table
(17942, 4)  created_table
(17942, 4)  created_table
(17993, 4)  created_table
(17993, 4)  created_table
(17993, 4)  created_table
(17998, 4)  created_table
(17998, 4)  created_table
(17998, 4)  created_table
(17998, 4)  created_table
(17998, 4)  created_table
(17998, 4)  created_table
(17999, 4)  created_table
(17999, 4)  created_table
(17999, 4)  created_table
(18007, 4)  created_table
(18007, 4)  created_table
(18022, 4)  created_table
(18022, 4)  created_table
(18022, 4)  created_table
(18194, 4)  created_table
(18194, 4)  created_table
(18194, 4)  created_table
(18194, 4)  created_table
(18194, 4)  created_table
(18196, 4)  created_table
(18196, 4)  created_table
(18205, 4)  created_table
(18205, 4)  created_table
(18205, 4)  created_table
(38649, 4)  created_table

In [79]:
created_table.shape

(38649, 4)

In [80]:
created_table.columns = ['vod_id', 'content_name', 'san', 'total_revenue']

In [81]:
created_table

          vod_id       content_name           san  total_revenue
0      114501547  Трансформер Акция   99403989277            0.0
1      114501547        Оптимальный  021201919957            7.0
2      114501547  Трансформер Акция   99804680546            0.0
3      114501547        Оптимальный  021201926701            7.0
4      114501547  Трансформер Акция   99303114783            0.0
...          ...                ...           ...            ...
20439  113428464  Трансформер Акция   99602820178            0.0
20440  113428464  Трансформер Акция   99203118197            0.0
20441  113428464  Трансформер Акция   99403885869            0.0
20442  113428464  Трансформер Акция   99804616086            0.0
20443  113428464  Трансформер Акция   99403875864            0.0

[38649 rows x 4 columns]

In [82]:
big_table2 = created_table.merge(OLD_san_who_watched, on = (['vod_id', 'san']), how = 'inner')
big_table2

,vod_id,content_name,san,total_revenue,san_created_date,mrf,view_date,vod_name,device_type,usage_model,count_of_views,duration_in_minutes,condition
0,114501547,Трансформер Акция,99804680546,0.0,2021-04-11,mos,2021-04-18,NAVI. Рожденные побеждать,NCWEB,service,7,19.87,7.0
1,114501547,Трансформер Акция,99303114783,0.0,2021-03-06,vlg,2021-04-12,NAVI. Рожденные побеждать,NCIPHONE,,1,0.52,37.0
2,114501547,Трансформер Акция,99303114783,0.0,2021-03-06,vlg,2021-04-12,NAVI. Рожденные побеждать,NCIPHONE,service,8,50.00,37.0
3,114501547,Оптимальный,021803018148,7.0,2021-03-09,mos,2021-06-18,NAVI. Рожденные побеждать,NCWEB,service,6,49.92,101.0
4,114501547,Оптимальный,021600331842,7.0,2020-07-10,sib,2021-05-24,NAVI. Рожденные побеждать,NCIPHONE,service,7,34.78,318.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
23233,113428464,Оптимальный,021201433858,7.0,2021-01-26,nw,2021-03-28,Батя,NCMOBILEANDROID,service,4,12.75,61.0
23234,113428464,Оптимальный,021201433858,7.0,2021-01-26,nw,2021-04-03,Батя,NCIPHONE,service,1,29.98,67.0
23235,113428464,Трансформер Акция,99803933121,0.0,2021-01-20,mos,2021-04-07,Батя,NCWEB,service,2,2.40,77.0
23236,113428464,Трансформер Акция,99803933121,0.0,2021-01-20,mos,2021-04-07,Батя,NCMOBILEANDROID,service,8,66.20,77.0
23237,113428464,Трансформер Акция,99602820178,0.0,2021-04-08,sib,2021-04-12,Батя,NCWEB,service,1,2.47,4.0

In [83]:
big_table2['san'].nunique()

13809

In [84]:
triggers_table = big_table2.groupby('vod_name')['san', 'total_revenue'].agg({'san':'nunique', 'total_revenue':'sum'}).reset_index().sort_values(by = 'total_revenue', ascending = False)

In [85]:
triggers_table

                       vod_name   san  total_revenue
61          Подольские курсанты  1599     1131049.34
5                          Батя  6365      312872.16
69                       Сибирь   239      119000.97
22  Дедушка нелёгкого поведения   817      117115.30
40             Красотка в ударе   378       90787.65
..                          ...   ...            ...
34             Клуб Буена Виста     1           0.00
55                Ноги Марадоны     2           0.00
6                     Без конца     1          -0.01
71                       Случай     1          -0.01
52            Небо над Берлином     2          -0.02

[93 rows x 3 columns]

In [86]:
#triggers_table.to_excel('Группа 3. Таблица по выручке с триггерами.xlsx', index=False)

In [87]:
triggers_table_part_2 = big_table2.groupby(['vod_name', 'device_type'])['count_of_views', 'duration_in_minutes'].agg({'count_of_views':'sum', 'duration_in_minutes':'sum'}).reset_index().sort_values(by = 'count_of_views', ascending = False)

In [88]:
triggers_table_part_2

,vod_name,device_type,count_of_views,duration_in_minutes
45,Батя,NCWEB,10038,128786.49
41,Батя,NCMOBILEANDROID,7165,78464.99
344,Подольские курсанты,STB,6329,151885.03
37,Батя,ANDROIDTV,3914,84971.99
40,Батя,NCIPHONE,3536,30321.25
...,...,...,...,...
281,Ловец теней,NCSTVLGWEBOS,1,18.95
318,Новые приключения в стране Оз,ANDROIDTV,1,71.40
320,Ноги Марадоны,APPLETV,1,3.60
455,Ускользающая красота,NCSTVSAMSUNGORSAY,1,2.88
0,NAVI. Рожденные побеждать,-1,1,5.00

In [89]:
#triggers_table_part_2.to_excel('Группа 3. Таблица по просмотрам с триггерами. С разбиением по устройствам.xlsx', index=False)

In [90]:
triggers_table_part_2_1 = big_table2.groupby('vod_name')['count_of_views', 'device_type', 'duration_in_minutes'].agg({'count_of_views':'sum','device_type':'nunique', 'duration_in_minutes':'sum'}).reset_index().sort_values(by = 'count_of_views', ascending = False)

In [91]:
triggers_table_part_2_1

,vod_name,count_of_views,device_type,duration_in_minutes
5,Батя,34259,12,497807.06
61,Подольские курсанты,11664,12,235451.82
22,Дедушка нелёгкого поведения,3334,11,69209.51
36,Кольская сверхглубокая,2677,12,41235.54
7,Белый снег,2103,12,30196.10
...,...,...,...,...
49,Мой американский дядюшка,1,1,0.53
48,Мелодрама,1,1,0.90
1,Американский друг,1,1,2.10
44,Ловец теней,1,1,18.95
46,Мадам Бовари,1,1,75.03

In [92]:
#triggers_table_part_2_1.to_excel('Группа 3. Таблица по просмотрам с триггерами.xlsx', index=False)

##### Пользователи, которые покупали фильмы в качестве EST Tvod

In [93]:
film_query = '''SELECT 
                   toDate(event_datetime) as purchase_date,
                   san,
                   event as count_of_purchases,
                   home_mrf as mrf,
                   lower(usage_model) as um,
                   device_type,
                   content_id as vod_id,
                   (dictGetString('vod_content','vod_name',toUInt64(content_id))) as vod_name,
                   (purchase_cost/100) as price_in_rub
                FROM analytics.UserEvents 
                WHERE
                    ((event = 16 and purchase_result='Success') or (event = 34 and result_code = 0))
                    AND lower(usage_model) in ('est','tvod')
                    AND content_id IN ({})
                    AND is_test != 1
                    AND san not in (select san from analytics.test_accounts)
                    AND (usage_model!='service')
      
                ORDER BY purchase_date'''.format(convertList(list_id_films))

In [94]:
bought_films = client.query_dataframe(film_query)

In [95]:
bought_films.shape

(35088, 9)

In [96]:
bought_films.sort_values(by='vod_name')

,purchase_date,san,count_of_purchases,mrf,um,device_type,vod_id,vod_name,price_in_rub
30781,2021-05-22,99107342494,34,ct,est,NCWEB,109633924,Американский друг,199.0
20743,2021-04-03,10217112044787,34,nw,tvod,STB,109633924,Американский друг,150.0
10047,2021-03-11,0800015175,34,mos,tvod,STB,109633924,Американский друг,150.0
28824,2021-05-07,10217110066176,34,nw,tvod,STB,109633924,Американский друг,150.0
32008,2021-06-05,99302266238,34,vlg,est,NCIPAD,109633924,Американский друг,189.0
...,...,...,...,...,...,...,...,...,...
28095,2021-05-04,10215016378127,34,nw,tvod,STB,110405441,Шербурские зонтики,150.0
20097,2021-04-01,99800099300,34,mos,est,NCMOBILEANDROID,110405441,Шербурские зонтики,189.0
12291,2021-03-20,4159998841,34,dv,est,STB,110405441,Шербурские зонтики,199.0
27429,2021-05-01,0400870611,34,sth,tvod,STB,110405441,Шербурские зонтики,150.0
33425,2021-06-18,0400043901,34,sth,est,STB,110405441,Шербурские зонтики,189.0

Кто купил

In [97]:
bought_films['san'].nunique()

30931

Кто смотрел

In [98]:
OLD_san_who_watched['san'].nunique()

1008099

In [99]:
teble1 = bought_films.groupby(['san', 'vod_id', 'vod_name', 'um', 'device_type']).agg({'count_of_purchases' : 'count', 'price_in_rub' : 'sum'}).reset_index()

In [100]:
teble1

,san,vod_id,vod_name,um,device_type,count_of_purchases,price_in_rub
0,0080823702,115494807,Рашн Юг,tvod,NCSTVLGWEBOS,1,100.0
1,0080823702,116931493,Будь моим Кириллом,tvod,NCSTVLGWEBOS,1,100.0
2,0110009140,113428464,Батя,tvod,STB,1,100.0
3,0110020481,113428464,Батя,tvod,STB,1,150.0
4,0110036970,107071994,Подольские курсанты,tvod,STB,1,150.0
...,...,...,...,...,...,...,...
33318,99805429520,113428464,Батя,tvod,NCSTVLGWEBOS,1,150.0
33319,99805468989,110359274,"Париж, Техас",est,NCMOBILEANDROID,1,199.0
33320,99805493918,110360845,Самый Новый год!,tvod,ANDROIDTV,1,150.0
33321,99805546937,113428464,Батя,tvod,NCSTVLGWEBOS,1,150.0
33322,99805547683,113428464,Батя,tvod,SMARTTVTIZEN,1,150.0

In [101]:
teble = OLD_san_who_watched.groupby(['san', 'vod_id', 'vod_name']).agg({'count_of_views' : 'sum', 'duration_in_minutes' : 'sum'}).reset_index()

In [102]:
teble

,san,vod_id,vod_name,count_of_views,duration_in_minutes
0,0004665918,110360845,Самый Новый год!,1,1.08
1,0013465110,113428464,Батя,1,2.48
2,0017188998,113428464,Батя,4,137.02
3,0047126663,112459562,Не лечи меня,1,0.55
4,0047126663,113428464,Батя,1,2.48
...,...,...,...,...,...
2252723,99805427975,116009736,Зоя Космодемьянская,3,12.18
2252724,99805428454,118032673,Евро-2008. Лучшее лето нашей жизни,3,75.17
2252725,99805429439,115494807,Рашн Юг,1,1.62
2252726,9986428709,113123014,Девяностые. Ночная жизнь. Проект Сергея Минаева,1,43.93
2252727,9993749032,110360845,Самый Новый год!,1,2.13

In [103]:
common_table_buy_and_watch = teble1.merge(teble, on = ['san','vod_id','vod_name'], how = 'left')

In [104]:
common_table_buy_and_watch = common_table_buy_and_watch.fillna('Купил, но не смотрел')

In [105]:
common_table_buy_and_watch

,san,vod_id,vod_name,um,device_type,count_of_purchases,price_in_rub,count_of_views,duration_in_minutes
0,0080823702,115494807,Рашн Юг,tvod,NCSTVLGWEBOS,1,100.0,5,105.38
1,0080823702,116931493,Будь моим Кириллом,tvod,NCSTVLGWEBOS,1,100.0,"Купил, но не смотрел","Купил, но не смотрел"
2,0110009140,113428464,Батя,tvod,STB,1,100.0,2,76
3,0110020481,113428464,Батя,tvod,STB,1,150.0,6,75.45
4,0110036970,107071994,Подольские курсанты,tvod,STB,1,150.0,4,136.27
...,...,...,...,...,...,...,...,...,...
33318,99805429520,113428464,Батя,tvod,NCSTVLGWEBOS,1,150.0,"Купил, но не смотрел","Купил, но не смотрел"
33319,99805468989,110359274,"Париж, Техас",est,NCMOBILEANDROID,1,199.0,"Купил, но не смотрел","Купил, но не смотрел"
33320,99805493918,110360845,Самый Новый год!,tvod,ANDROIDTV,1,150.0,"Купил, но не смотрел","Купил, но не смотрел"
33321,99805546937,113428464,Батя,tvod,NCSTVLGWEBOS,1,150.0,"Купил, но не смотрел","Купил, но не смотрел"
33322,99805547683,113428464,Батя,tvod,SMARTTVTIZEN,1,150.0,"Купил, но не смотрел","Купил, но не смотрел"

In [106]:
group3_common_table_buy = common_table_buy_and_watch.groupby(['vod_name', 'vod_id', 'um', 'device_type'])['san','count_of_purchases', 'price_in_rub'].agg({'san':'nunique', 'count_of_purchases':'sum', 'price_in_rub':'sum'}).reset_index().sort_values(by = 'vod_name')

In [107]:
group3_common_table_buy.head(20)

,vod_name,vod_id,um,device_type,san,count_of_purchases,price_in_rub
0,Американский друг,109633924,est,NCIPAD,1,1,189.0
1,Американский друг,109633924,est,NCWEB,1,2,398.0
2,Американский друг,109633924,tvod,STB,3,3,450.0
16,Ассистентка,105016883,tvod,STB,21,22,2518.0
15,Ассистентка,105016883,tvod,NCWEB,1,1,100.0
14,Ассистентка,105016883,tvod,NCSTVLGWEBOS,1,1,100.0
13,Ассистентка,105016883,est,STB,55,55,17095.0
12,Ассистентка,105016883,est,SMARTTVTIZEN,16,16,960.0
11,Ассистентка,105016883,est,NCWEB,14,15,363.0
10,Ассистентка,105016883,est,NCTABLETANDROID,3,3,3.0
8,Ассистентка,105016883,est,NCSTVLGWEBOS,12,12,360.0
7,Ассистентка,105016883,est,NCMOBILEANDROID,28,29,3221.0
6,Ассистентка,105016883,est,NCIPHONE,5,5,303.0
5,Ассистентка,105016883,est,NCIPAD,2,2,300.0
4,Ассистентка,105016883,est,APPLETV,1,1,299.0
3,Ассистентка,105016883,est,ANDROIDTV,4,4,352.0
9,Ассистентка,105016883,est,NCSTVSAMSUNGORSAY,1,1,299.0
22,Атакан. Кровавая легенда,105396191,est,NCWEB,4,4,4.0
24,Атакан. Кровавая легенда,105396191,tvod,STB,2,2,250.0
23,Атакан. Кровавая легенда,105396191,est,STB,8,8,2592.0

## EST

In [108]:
group3_est = group3_common_table_buy.query('um == "est"')

In [109]:
group3_est

,vod_name,vod_id,um,device_type,san,count_of_purchases,price_in_rub
0,Американский друг,109633924,est,NCIPAD,1,1,189.0
1,Американский друг,109633924,est,NCWEB,1,2,398.0
13,Ассистентка,105016883,est,STB,55,55,17095.0
12,Ассистентка,105016883,est,SMARTTVTIZEN,16,16,960.0
11,Ассистентка,105016883,est,NCWEB,14,15,363.0
...,...,...,...,...,...,...,...
651,Чёрный снег,113620535,est,NCWEB,9,10,3239.0
652,Чёрный снег,113620535,est,SMARTTVTIZEN,1,1,349.0
653,Чёрный снег,113620535,est,STB,81,81,25881.0
657,Шербурские зонтики,110405441,est,STB,3,3,587.0
656,Шербурские зонтики,110405441,est,NCMOBILEANDROID,1,1,189.0

In [110]:
group3_est['price_in_rub'].sum()

3888229.0

In [111]:
#group3_est.to_excel('Группа 3. Покупки старичков по EST.xlsx', index=False)

## TVOD

In [112]:
group3_tvod = group3_common_table_buy.query('um == "tvod"')

In [113]:
group3_tvod

,vod_name,vod_id,um,device_type,san,count_of_purchases,price_in_rub
2,Американский друг,109633924,tvod,STB,3,3,450.0
16,Ассистентка,105016883,tvod,STB,21,22,2518.0
15,Ассистентка,105016883,tvod,NCWEB,1,1,100.0
14,Ассистентка,105016883,tvod,NCSTVLGWEBOS,1,1,100.0
24,Атакан. Кровавая легенда,105396191,tvod,STB,2,2,250.0
...,...,...,...,...,...,...,...
646,"Чёрная кошка, белый кот",110273852,tvod,NCWEB,1,1,100.0
647,"Чёрная кошка, белый кот",110273852,tvod,STB,18,20,2000.0
654,Чёрный снег,113620535,tvod,NCMOBILEANDROID,1,1,100.0
655,Чёрный снег,113620535,tvod,STB,32,32,3725.0
658,Шербурские зонтики,110405441,tvod,STB,2,2,300.0

In [114]:
group3_tvod['price_in_rub'].sum()

2389344.0

In [115]:
#group3_tvod.to_excel('Группа 3. Покупки старичков по TVOD.xlsx', index=False)

## Гуппа 2

### Кол-во всех зрителей любого VoD по подписке за каждый месяц жизни этого фильма

In [116]:
films_part = films[['vod_id', 'date_of_appearance_in_Wink']]
films_part = films_part.values.tolist()

In [117]:
films_part2_watching = films_part.copy()

In [118]:
films_part2_watching

[[114501547, Timestamp('2021-04-08 00:00:00')],
 [107612888, Timestamp('2020-12-16 00:00:00')],
 [109633924, Timestamp('2020-12-16 00:00:00')],
 [107613026, Timestamp('2020-12-16 00:00:00')],
 [119523903, Timestamp('2021-07-01 00:00:00')],
 [105016883, Timestamp('2020-10-10 00:00:00')],
 [105000948, Timestamp('2020-10-10 00:00:00')],
 [105000958, Timestamp('2020-10-10 00:00:00')],
 [110563863, Timestamp('2020-12-25 00:00:00')],
 [105396191, Timestamp('2020-10-15 00:00:00')],
 [105383072, Timestamp('2020-10-15 00:00:00')],
 [105383319, Timestamp('2020-10-15 00:00:00')],
 [105383742, Timestamp('2020-10-15 00:00:00')],
 [106128551, Timestamp('2020-11-09 00:00:00')],
 [106154694, Timestamp('2020-11-09 00:00:00')],
 [106128932, Timestamp('2020-11-09 00:00:00')],
 [106120055, Timestamp('2020-11-09 00:00:00')],
 [106153048, Timestamp('2020-11-09 00:00:00')],
 [106121907, Timestamp('2020-11-09 00:00:00')],
 [113545738, Timestamp('2021-04-05 00:00:00')],
 [107613235, Timestamp('2020-12-16 00:00:00')],
 [109634655, Timestamp('2020-12-16 00:00:00')],
 [107613791, Timestamp('2020-12-16 00:00:00')],
 [116931493, Timestamp('2021-05-13 00:00:00')],
 [113124451, Timestamp('2021-03-08 00:00:00')],
 [110626363, Timestamp('2021-01-01 00:00:00')],
 [78453491, Timestamp('2020-11-01 00:00:00')],
 [2225054, Timestamp('2020-11-01 00:00:00')],
 [105898516, Timestamp('2020-11-01 00:00:00')],
 [78428125, Timestamp('2020-11-01 00:00:00')],
 [106682824, Timestamp('2020-11-24 00:00:00')],
 [106064944, Timestamp('2020-11-05 00:00:00')],
 [88876434, Timestamp('2021-01-01 00:00:00')],
 [88876669, Timestamp('2021-01-01 00:00:00')],
 [110360155, Timestamp('2021-01-05 00:00:00')],
 [110338307, Timestamp('2021-01-05 00:00:00')],
 [110338317, Timestamp('2021-01-05 00:00:00')],
 [110338611, Timestamp('2021-01-05 00:00:00')],
 [103787379, Timestamp('2020-10-24 00:00:00')],
 [50261017, Timestamp('2020-12-20 00:00:00')],
 [110279096, Timestamp('2020-12-20 00:00:00')],
 [105335104, Timestamp('2020-10-15 00:00:00')],
 [105300961, Timestamp('2020-10-15 00:00:00')],
 [105301116, Timestamp('2020-10-15 00:00:00')],
 [105301254, Timestamp('2021-02-15 00:00:00')],
 [106347642, Timestamp('2020-11-19 00:00:00')],
 [106346806, Timestamp('2020-11-19 00:00:00')],
 [106346958, Timestamp('2020-11-19 00:00:00')],
 [106347084, Timestamp('2020-12-02 00:00:00')],
 [106131328, Timestamp('2020-11-09 00:00:00')],
 [106155801, Timestamp('2020-11-09 00:00:00')],
 [106131708, Timestamp('2020-11-09 00:00:00')],
 [106129958, Timestamp('2020-11-09 00:00:00')],
 [106155247, Timestamp('2020-11-09 00:00:00')],
 [106130700, Timestamp('2020-11-09 00:00:00')],
 [106158685, Timestamp('2020-11-10 00:00:00')],
 [106213946, Timestamp('2020-11-10 00:00:00')],
 [106159137, Timestamp('2020-11-10 00:00:00')],
 [113620273, Timestamp('2021-03-19 00:00:00')],
 [114551635, Timestamp('2021-03-26 00:00:00')],
 [114705952, Timestamp('2021-04-02 00:00:00')],
 [110881265, Timestamp('2021-01-04 00:00:00')],
 [113123014, Timestamp('2021-03-05 00:00:00')],
 [115493663, Timestamp('2021-04-16 00:00:00')],
 [106595170, Timestamp('2020-11-30 00:00:00')],
 [106593150, Timestamp('2021-03-01 00:00:00')],
 [106593262, Timestamp('2021-03-01 00:00:00')],
 [106593376, Timestamp('2020-11-30 00:00:00')],
 [106127774, Timestamp('2020-11-09 00:00:00')],
 [106154365, Timestamp('2020-11-09 00:00:00')],
 [106128380, Timestamp('2020-11-09 00:00:00')],
 [106126700, Timestamp('2020-11-09 00:00:00')],
 [106153919, Timestamp('2020-11-09 00:00:00')],
 [106127291, Timestamp('2020-11-09 00:00:00')],
 [107614015, Timestamp('2020-12-16 00:00:00')],
 [109634298, Timestamp('2020-12-16 00:00:00')],
 [107614171, Timestamp('2020-12-16 00:00:00')],
 [111887199, Timestamp('2021-02-01 00:00:00')],
 [106151307, Timestamp('2020-11-09 00:00:00')],
 [106142464, Timestamp('2020-11-09 00:00:00')],
 [106141869, Timestamp('2020-11-09 00:00:00')],
 [111003127, Timestamp('2021-01-21 00:00:00')],
 [110972065, Timestamp('2021-01-21 00:00:00')],
 [110972204, Timestamp('2021-01-21 00:00:00')],
 [110972334, Timestamp('2021-01-21 00:00:00')],
 [118032673, Timestamp('2021-06-08 00:00:00')],
 [106122756, Timestamp('2020-11-09 00:00:00')],
 [106153483, Timestamp('2020-11-09 00:00:00')],
 [106126334, Timestamp('2020-11-09 00:00:00')],
 [106152608, Timestamp('2020-11-09 00:00:00')],
 [106119530, Timestamp('2020-11-09 00:00:00')],
 [106119225, Timestamp('2020-11-09 00:00:00')],
 [106114305, Timestamp('2020-11-09 00:00:00')],
 [106152283, Timestamp('2020-11-09 00:00:00')],
 [106114443, Timestamp('2020-11-09 00:00:00')],
 [106114702, Timestamp('2020-11-09 00:00:00')],
 [106150983, Timestamp('2020-11-09 00:00:00')],
 [106117611, Timestamp('2020-11-09 00:00:00')],
 [116009736, Timestamp('2021-05-06 00:00:00')],
 [106356616, Timestamp('2020-11-16 00:00:00')],
 [118318749, Timestamp('2021-06-24 00:00:00')],
 [107614886, Timestamp('2020-12-16 00:00:00')],
 [109635558, Timestamp('2020-12-16 00:00:00')],
 [107615023, Timestamp('2020-12-16 00:00:00')],
 [119202343, Timestamp('2021-06-16 00:00:00')],
 [107505408, Timestamp('2020-12-20 00:00:00')],
 [107494995, Timestamp('2020-12-20 00:00:00')],
 [107495110, Timestamp('2020-12-20 00:00:00')],
 [107495227, Timestamp('2020-12-20 00:00:00')],
 [106113772, Timestamp('2020-11-09 00:00:00')],
 [106151959, Timestamp('2020-11-09 00:00:00')],
 [106113914, Timestamp('2020-11-09 00:00:00')],
 [106151631, Timestamp('2020-11-09 00:00:00')],
 [106118909, Timestamp('2020-11-09 00:00:00')],
 [106118726, Timestamp('2020-11-09 00:00:00')],
 [107615860, Timestamp('2020-12-16 00:00:00')],
 [109636283, Timestamp('2020-12-16 00:00:00')],
 [107615989, Timestamp('2020-12-16 00:00:00')],
 [107616142, Timestamp('2020-12-16 00:00:00')],
 [109637179, Timestamp('2020-12-16 00:00:00')],
 [107616428, Timestamp('2020-12-16 00:00:00')],
 [107617204, Timestamp('2020-12-16 00:00:00')],
 [109635917, Timestamp('2020-12-16 00:00:00')],
 [107617422, Timestamp('2020-12-16 00:00:00')],
 [107209756, Timestamp('2020-12-17 00:00:00')],
 [107183831, Timestamp('2020-12-17 00:00:00')],
 [107183960, Timestamp('2020-12-17 00:00:00')],
 [107184082, Timestamp('2020-12-17 00:00:00')],
 [110358072, Timestamp('2020-12-30 00:00:00')],
 [110344494, Timestamp('2020-12-30 00:00:00')],
 [110344501, Timestamp('2020-12-30 00:00:00')],
 [110344653, Timestamp('2020-12-30 00:00:00')],
 [117558427, Timestamp('2021-06-10 00:00:00')],
 [110331300, Timestamp('2020-12-21 00:00:00')],
 [110357746, Timestamp('2020-12-21 00:00:00')],
 [110331493, Timestamp('2020-12-21 00:00:00')],
 [110331655, Timestamp('2020-12-21 00:00:00')],
 [110358296, Timestamp('2020-12-21 00:00:00')],
 [110332081, Timestamp('2020-12-21 00:00:00')],
 [118318477, Timestamp('2021-07-22 00:00:00')],
 [104783780, Timestamp('2020-10-01 00:00:00')],
 [104778382, Timestamp('2020-10-01 00:00:00')],
 [104778500, Timestamp('2020-10-01 00:00:00')],
 [104778623, Timestamp('2020-10-01 00:00:00')],
 [112277810, Timestamp('2021-03-11 00:00:00')],
 [117564163, Timestamp('2021-06-16 00:00:00')],
 [110405116, Timestamp('2020-12-22 00:00:00')],
 [110370051, Timestamp('2020-12-22 00:00:00')],
 [110370273, Timestamp('2020-12-22 00:00:00')],
 [115322523, Timestamp('2021-05-06 00:00:00')],
 [110699033, Timestamp('2021-01-01 00:00:00')],
 [110625861, Timestamp('2021-01-01 00:00:00')],
 [110626096, Timestamp('2021-01-01 00:00:00')],
 [110625992, Timestamp('2021-01-01 00:00:00')],
 [106033659, Timestamp('2020-11-23 00:00:00')],
 [106020395, Timestamp('2020-11-23 00:00:00')],
 [106020525, Timestamp('2020-11-23 00:00:00')],
 [106020949, Timestamp('2020-12-23 00:00:00')],
 [110257622, Timestamp('2020-12-17 00:00:00')],
 [110272873, Timestamp('2020-12-17 00:00:00')],
 [110258279, Timestamp('2020-12-17 00:00:00')],
 [110273200, Timestamp('2020-12-17 00:00:00')],
 [112015064, Timestamp('2021-02-02 00:00:00')],
 [106157543, Timestamp('2020-11-09 00:00:00')],
 [106118592, Timestamp('2020-11-09 00:00:00')],
 [106118301, Timestamp('2020-11-09 00:00:00')],
 [112767575, Timestamp('2021-02-20 00:00:00')],
 [106031565, Timestamp('2020-11-26 00:00:00')],
 [106007671, Timestamp('2020-11-26 00:00:00')],
 [106008197, Timestamp('2020-11-26 00:00:00')],
 [106117601, Timestamp('2020-11-09 00:00:00')],
 [106213290, Timestamp('2020-11-09 00:00:00')],
 [106117916, Timestamp('2020-11-09 00:00:00')],
 [110332286, Timestamp('2020-12-21 00:00:00')],
 [110358621, Timestamp('2020-12-21 00:00:00')],
 [110332906, Timestamp('2020-12-21 00:00:00')],
 [106152934, Timestamp('2020-11-12 00:00:00')],
 [106120264, Timestamp('2020-11-12 00:00:00')],
 [106120378, Timestamp('2020-11-12 00:00:00')],
 [106120557, Timestamp('2021-03-12 00:00:00')],
 [112459562, Timestamp('2021-02-14 00:00:00')],
 [106136252, Timestamp('2020-11-09 00:00:00')],
 [106156238, Timestamp('2020-11-09 00:00:00')],
 [106136685, Timestamp('2020-11-09 00:00:00')],
 [110333052, Timestamp('2020-12-21 00:00:00')],
 [110358948, Timestamp('2020-12-21 00:00:00')],
 [110333580, Timestamp('2020-12-21 00:00:00')],
 [104963037, Timestamp('2020-10-03 00:00:00')],
 [104916022, Timestamp('2020-10-03 00:00:00')],
 [104916494, Timestamp('2020-10-03 00:00:00')],
 [104916786, Timestamp('2020-11-14 00:00:00')],
 [115317768, Timestamp('2021-04-29 00:00:00')],
 [113621123, Timestamp('2021-03-25 00:00:00')],
 [110967894, Timestamp('2021-01-11 00:00:00')],
 [110999626, Timestamp('2021-01-11 00:00:00')],
 [110968018, Timestamp('2021-01-11 00:00:00')],
 [107026997, Timestamp('2020-12-02 00:00:00')],
 [107027117, Timestamp('2020-12-02 00:00:00')],
 [107071349, Timestamp('2020-12-02 00:00:00')],
 [112767912, Timestamp('2021-02-20 00:00:00')],
 [118318983, Timestamp('2021-07-15 00:00:00')],
 [106137242, Timestamp('2020-11-09 00:00:00')],
 [106156567, Timestamp('2020-11-09 00:00:00')],
 [106138093, Timestamp('2020-11-09 00:00:00')],
 [110333810, Timestamp('2020-12-21 00:00:00')],
 [110359274, Timestamp('2020-12-21 00:00:00')],
 [110334427, Timestamp('2020-12-21 00:00:00')],
 [106164403, Timestamp('2020-11-10 00:00:00')],
 [106217880, Timestamp('2020-11-10 00:00:00')],
 [106164943, Timestamp('2020-11-10 00:00:00')],
 [107071994, Timestamp('2020-12-11 00:00:00')],
 [107066843, Timestamp('2021-01-02 00:00:00')],
 [107066969, Timestamp('2021-01-02 00:00:00')],
 [107067138, Timestamp('2020-12-11 00:00:00')],
 [116182944, Timestamp('2021-05-01 00:00:00')],
 [106826238, Timestamp('2021-01-01 00:00:00')],
 [106816229, Timestamp('2021-01-01 00:00:00')],
 [106816378, Timestamp('2021-01-01 00:00:00')],
 [106816587, Timestamp('2021-05-01 00:00:00')],
 [106157217, Timestamp('2020-11-09 00:00:00')],
 [106141708, Timestamp('2020-11-09 00:00:00')],
 [106141217, Timestamp('2020-11-09 00:00:00')],
 [113621127, Timestamp('2021-03-25 00:00:00')],
 [110337122, Timestamp('2020-12-21 00:00:00')],
 [110359500, Timestamp('2020-12-21 00:00:00')],
 [110337564, Timestamp('2020-12-21 00:00:00')],
 [110967568, Timestamp('2021-01-11 00:00:00')],
 [111004833, Timestamp('2021-01-11 00:00:00')],
 [110968152, Timestamp('2021-01-11 00:00:00')],
 [112768163, Timestamp('2021-02-20 00:00:00')],
 [115494807, Timestamp('2021-04-22 00:00:00')],
 [110360845, Timestamp('2020-12-31 00:00:00')],
 [110344039, Timestamp('2020-12-31 00:00:00')],
 [110344066, Timestamp('2020-12-31 00:00:00')],
 [110337739, Timestamp('2020-12-21 00:00:00')],
 [110359829, Timestamp('2020-12-21 00:00:00')],
 [110337997, Timestamp('2020-12-21 00:00:00')],
 [106270283, Timestamp('2020-11-12 00:00:00')],
 [106273998, Timestamp('2020-11-12 00:00:00')],
 [106264617, Timestamp('2020-11-12 00:00:00')],
 [106264889, Timestamp('2020-11-12 00:00:00')],
 [104966813, Timestamp('2020-10-02 00:00:00')],
 [104964836, Timestamp('2020-10-02 00:00:00')],
 [104965130, Timestamp('2020-10-02 00:00:00')],
 [104965271, Timestamp('2020-12-01 00:00:00')],
 [106139734, Timestamp('2020-11-09 00:00:00')],
 [106156894, Timestamp('2020-11-09 00:00:00')],
 [106140077, Timestamp('2020-11-09 00:00:00')],
 [107209645, Timestamp('2020-12-17 00:00:00')],
 [107183404, Timestamp('2020-12-17 00:00:00')],
 [107183520, Timestamp('2020-12-17 00:00:00')],
 [110346537, Timestamp('2020-12-21 00:00:00')],
 [110360383, Timestamp('2020-12-21 00:00:00')],
 [110346824, Timestamp('2020-12-21 00:00:00')],
 [110968660, Timestamp('2021-01-11 00:00:00')],
 [111000600, Timestamp('2021-01-11 00:00:00')],
 [110968841, Timestamp('2021-01-11 00:00:00')],
 [103618899, Timestamp('2021-01-03 00:00:00')],
 [110368330, Timestamp('2020-12-22 00:00:00')],
 [110404136, Timestamp('2020-12-22 00:00:00')],
 [110368483, Timestamp('2020-12-22 00:00:00')],
 [110260408, Timestamp('2020-12-17 00:00:00')],
 [110273526, Timestamp('2020-12-17 00:00:00')],
 [110260827, Timestamp('2020-12-17 00:00:00')],
 [106160036, Timestamp('2020-11-10 00:00:00')],
 [106218534, Timestamp('2020-11-10 00:00:00')],
 [106160707, Timestamp('2020-11-10 00:00:00')],
 [78453172, Timestamp('2020-12-20 00:00:00')],
 [104147565, Timestamp('2020-12-20 00:00:00')],
 [78427798, Timestamp('2020-12-20 00:00:00')],
 [104749011, Timestamp('2020-10-01 00:00:00')],
 [104677267, Timestamp('2020-10-01 00:00:00')],
 [104879984, Timestamp('2020-10-14 00:00:00')],
 [104779660, Timestamp('2020-10-14 00:00:00')],
 [104779889, Timestamp('2020-10-14 00:00:00')],
 [104780209, Timestamp('2020-12-01 00:00:00')],
 [104677388, Timestamp('2020-10-01 00:00:00')],
 [104677511, Timestamp('2020-12-01 00:00:00')],
 [107209869, Timestamp('2020-12-15 00:00:00')],
 [107184239, Timestamp('2020-12-15 00:00:00')],
 [107184251, Timestamp('2020-12-15 00:00:00')],
 [107184511, Timestamp('2020-12-15 00:00:00')],
 [106159637, Timestamp('2020-11-10 00:00:00')],
 [106214603, Timestamp('2020-11-10 00:00:00')],
 [106160017, Timestamp('2020-11-10 00:00:00')],
 [110260657, Timestamp('2020-12-17 00:00:00')],
 [110275164, Timestamp('2020-12-17 00:00:00')],
 [110261554, Timestamp('2020-12-17 00:00:00')],
 [110263154, Timestamp('2020-12-17 00:00:00')],
 [110274183, Timestamp('2020-12-17 00:00:00')],
 [110263340, Timestamp('2020-12-17 00:00:00')],
 [110969188, Timestamp('2021-01-11 00:00:00')],
 [110969526, Timestamp('2021-01-11 00:00:00')],
 [111000905, Timestamp('2021-01-11 00:00:00')],
 [105953574, Timestamp('2020-11-02 00:00:00')],
 [105947065, Timestamp('2020-11-02 00:00:00')],
 [105947221, Timestamp('2020-11-02 00:00:00')],
 [106159395, Timestamp('2020-11-10 00:00:00')],
 [106214275, Timestamp('2020-11-10 00:00:00')],
 [106159619, Timestamp('2020-11-10 00:00:00')],
 [105563018, Timestamp('2020-10-25 00:00:00')],
 [105561814, Timestamp('2020-10-25 00:00:00')],
 [105562057, Timestamp('2020-10-25 00:00:00')],
 [105562172, Timestamp('2020-10-25 00:00:00')],
 [106158273, Timestamp('2020-11-10 00:00:00')],
 [106213616, Timestamp('2020-11-10 00:00:00')],
 [106158521, Timestamp('2020-11-10 00:00:00')],
 [110368459, Timestamp('2020-12-22 00:00:00')],
 [110404462, Timestamp('2020-12-22 00:00:00')],
 [110368751, Timestamp('2020-12-22 00:00:00')],
 [110263763, Timestamp('2020-12-17 00:00:00')],
 [110274512, Timestamp('2020-12-17 00:00:00')],
 [110264422, Timestamp('2020-12-17 00:00:00')],
 [110368907, Timestamp('2020-12-22 00:00:00')],
 [110404789, Timestamp('2020-12-22 00:00:00')],
 [110369292, Timestamp('2020-12-22 00:00:00')],
 [110264350, Timestamp('2020-12-17 00:00:00')],
 [110274837, Timestamp('2020-12-17 00:00:00')],
 [110264972, Timestamp('2020-12-17 00:00:00')],
 [110273852, Timestamp('2020-12-17 00:00:00')],
 [110265669, Timestamp('2020-12-17 00:00:00')],
 [110265161, Timestamp('2020-12-17 00:00:00')],
 [113620535, Timestamp('2021-03-18 00:00:00')],
 [106966002, Timestamp('2020-12-01 00:00:00')],
 [106905453, Timestamp('2020-12-01 00:00:00')],
 [106905669, Timestamp('2020-12-01 00:00:00')],
 [106905822, Timestamp('2020-12-20 00:00:00')],
 [112768754, Timestamp('2021-02-20 00:00:00')],
 [110369788, Timestamp('2020-12-22 00:00:00')],
 [110405441, Timestamp('2020-12-22 00:00:00')],
 [110369774, Timestamp('2020-12-22 00:00:00')],
 [88239992, Timestamp('2020-01-20 00:00:00')],
 [113428464, Timestamp('2021-03-18 00:00:00')]]

In [119]:
def getDataByService_watching(month1, date1, month2, date2):
    qw = '''SELECT 
                   count(DISTINCT san) as count_people,
                   count(event) as count_of_watching,
                   count(distinct device_type) as unique_device_type
                FROM analytics.UserEvents 
                WHERE
                    event = 17
                    AND event_date BETWEEN toDateTime(date_add(MONTH, '{}', toDate('{}')), 'UTC') AND
                                    toDateTime(date_add(MONTH, '{}', toDate('{}')), 'UTC')
                    AND is_test != 1
                    AND  lower(usage_model) = 'service'
                    AND san_hash not in (select san_hash from analytics.test_accounts)'''.format(month1, date1, month2, date2)
    return client.query_dataframe(qw).values.tolist()

In [120]:
for i in range(len(films_part2_watching)):
    for j in range(6):
        date_watching = films_part2_watching[i][1]  
        tmp_watching = getDataByService_watching(j, date_watching, j+1, date_watching)
        for s in range(len(tmp_watching)):
            films_part2_watching[i].extend(tmp_watching[s])

In [121]:
FILM_DF_watching = pd.DataFrame(films_part2_watching)

In [1]:
FILM_DF_watching.shape

NameError: name 'FILM_DF_watching' is not defined

In [123]:
FILM_DF_watching

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,114501547,2021-04-08,883457,56122044,11,872543,53553450,11,865389,48288582,11,626952,39338906,11,0,0,0,0,0,0
1,107612888,2020-12-16,887217,68602592,11,783793,57937807,11,775050,55047835,11,888204,59757805,11,890838,55770218,11,855904,51818482,11
2,109633924,2020-12-16,887217,68602592,11,783793,57937807,11,775050,55047835,11,888204,59757805,11,890838,55770218,11,855904,51818482,11
3,107613026,2020-12-16,887217,68602592,11,783793,57937807,11,775050,55047835,11,888204,59757805,11,890838,55770218,11,855904,51818482,11
4,119523903,2021-07-01,752081,51661359,11,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
328,110369788,2020-12-22,883393,66542352,11,793086,59324650,11,799179,55008150,11,880479,58887707,11,882912,55069322,11,857264,50236237,11
329,110405441,2020-12-22,883393,66542352,11,793086,59324650,11,799179,55008150,11,880479,58887707,11,882912,55069322,11,857264,50236237,11
330,110369774,2020-12-22,883393,66542352,11,793086,59324650,11,799179,55008150,11,880479,58887707,11,882912,55069322,11,857264,50236237,11
331,88239992,2020-01-20,116400,6299842,8,128816,7946867,10,218703,15835168,9,272938,23263926,9,313977,26455723,9,369284,30004542,9
332,113428464,2021-03-18,894630,60028472,11,882837,55046569,11,857396,51487504,11,901497,62413606,11,281963,10062606,11,0,0,0

In [124]:
FILM_DF_watching.columns = ['vod_id', 'date_of_appearance_in_Wink', 'unique_san_0', 'count_of_watching_0', 'unique_device_type_0','unique_san_1', 'count_of_watching_1', 'unique_device_type_1','unique_san_2', 'count_of_watching_2', 'unique_device_type_2','unique_san_3', 'count_of_watching_3', 'unique_device_type_3','unique_san_4', 'count_of_watching_4', 'unique_device_type_4','unique_san_5', 'count_of_watching_5', 'unique_device_type_5']

In [125]:
FILM_DF_watching

,vod_id,date_of_appearance_in_Wink,unique_san_0,count_of_watching_0,unique_device_type_0,unique_san_1,count_of_watching_1,unique_device_type_1,unique_san_2,count_of_watching_2,unique_device_type_2,unique_san_3,count_of_watching_3,unique_device_type_3,unique_san_4,count_of_watching_4,unique_device_type_4,unique_san_5,count_of_watching_5,unique_device_type_5
0,114501547,2021-04-08,883457,56122044,11,872543,53553450,11,865389,48288582,11,626952,39338906,11,0,0,0,0,0,0
1,107612888,2020-12-16,887217,68602592,11,783793,57937807,11,775050,55047835,11,888204,59757805,11,890838,55770218,11,855904,51818482,11
2,109633924,2020-12-16,887217,68602592,11,783793,57937807,11,775050,55047835,11,888204,59757805,11,890838,55770218,11,855904,51818482,11
3,107613026,2020-12-16,887217,68602592,11,783793,57937807,11,775050,55047835,11,888204,59757805,11,890838,55770218,11,855904,51818482,11
4,119523903,2021-07-01,752081,51661359,11,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
328,110369788,2020-12-22,883393,66542352,11,793086,59324650,11,799179,55008150,11,880479,58887707,11,882912,55069322,11,857264,50236237,11
329,110405441,2020-12-22,883393,66542352,11,793086,59324650,11,799179,55008150,11,880479,58887707,11,882912,55069322,11,857264,50236237,11
330,110369774,2020-12-22,883393,66542352,11,793086,59324650,11,799179,55008150,11,880479,58887707,11,882912,55069322,11,857264,50236237,11
331,88239992,2020-01-20,116400,6299842,8,128816,7946867,10,218703,15835168,9,272938,23263926,9,313977,26455723,9,369284,30004542,9
332,113428464,2021-03-18,894630,60028472,11,882837,55046569,11,857396,51487504,11,901497,62413606,11,281963,10062606,11,0,0,0

In [149]:
FILM_DF_watching = FILM_DF_watching.merge(films, on =['vod_id', 'date_of_appearance_in_Wink'])

In [150]:
FILM_DF_watching =FILM_DF_watching[['film', 'vod_id','date_of_appearance_in_Wink','unique_san_0','count_of_watching_0','unique_device_type_0','unique_san_1','count_of_watching_1','unique_device_type_1','unique_san_2','count_of_watching_2','unique_device_type_2','unique_san_3','count_of_watching_3','unique_device_type_3','unique_san_4','count_of_watching_4','unique_device_type_4','unique_san_5','count_of_watching_5','unique_device_type_5']]

In [151]:
FILM_DF_watching

,film,vod_id,date_of_appearance_in_Wink,unique_san_0,count_of_watching_0,unique_device_type_0,unique_san_1,count_of_watching_1,unique_device_type_1,unique_san_2,...,unique_device_type_2,unique_san_3,count_of_watching_3,unique_device_type_3,unique_san_4,count_of_watching_4,unique_device_type_4,unique_san_5,count_of_watching_5,unique_device_type_5
0,NAVI. Рожденные побеждать,114501547,2021-04-08,883457,56122044,11,872543,53553450,11,865389,...,11,626952,39338906,11,0,0,0,0,0,0
1,Американский друг,107612888,2020-12-16,887217,68602592,11,783793,57937807,11,775050,...,11,888204,59757805,11,890838,55770218,11,855904,51818482,11
2,Американский друг,109633924,2020-12-16,887217,68602592,11,783793,57937807,11,775050,...,11,888204,59757805,11,890838,55770218,11,855904,51818482,11
3,Американский друг,107613026,2020-12-16,887217,68602592,11,783793,57937807,11,775050,...,11,888204,59757805,11,890838,55770218,11,855904,51818482,11
4,Архипелаг,119523903,2021-07-01,752081,51661359,11,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
328,Шербургские зонтики,110369788,2020-12-22,883393,66542352,11,793086,59324650,11,799179,...,11,880479,58887707,11,882912,55069322,11,857264,50236237,11
329,Шербургские зонтики,110405441,2020-12-22,883393,66542352,11,793086,59324650,11,799179,...,11,880479,58887707,11,882912,55069322,11,857264,50236237,11
330,Шербургские зонтики,110369774,2020-12-22,883393,66542352,11,793086,59324650,11,799179,...,11,880479,58887707,11,882912,55069322,11,857264,50236237,11
331,Шоссе в никуда,88239992,2020-01-20,116400,6299842,8,128816,7946867,10,218703,...,9,272938,23263926,9,313977,26455723,9,369284,30004542,9
332,Батя,113428464,2021-03-18,894630,60028472,11,882837,55046569,11,857396,...,11,901497,62413606,11,281963,10062606,11,0,0,0

In [176]:
All_films_service_model = FILM_DF_watching.groupby(['film', 'date_of_appearance_in_Wink'])['unique_san_0','count_of_watching_0','unique_device_type_0','unique_san_1','count_of_watching_1','unique_device_type_1','unique_san_2','count_of_watching_2','unique_device_type_2','unique_san_3','count_of_watching_3','unique_device_type_3','unique_san_4','count_of_watching_4','unique_device_type_4','unique_san_5','count_of_watching_5','unique_device_type_5'].sum().reset_index()

In [177]:
All_films_service_model.to_excel('Таблица с КОЛИЧЕСТВОМ просмотров всех фильмов по модели сервис в каждый месяц жизни фильма. Новый список фильмов.xlsx', index=False)

### Кол-во зрителей VoD по подписке за каждый месяц жизни фильма, которые посмотрели именно этот фильм

In [127]:
films_part = films[['vod_id', 'date_of_appearance_in_Wink']]
films_part = films_part.values.tolist()

In [128]:
films_part2_watching_film = films_part.copy()

In [129]:
films_part2_watching_film

[[114501547, Timestamp('2021-04-08 00:00:00')],
 [107612888, Timestamp('2020-12-16 00:00:00')],
 [109633924, Timestamp('2020-12-16 00:00:00')],
 [107613026, Timestamp('2020-12-16 00:00:00')],
 [119523903, Timestamp('2021-07-01 00:00:00')],
 [105016883, Timestamp('2020-10-10 00:00:00')],
 [105000948, Timestamp('2020-10-10 00:00:00')],
 [105000958, Timestamp('2020-10-10 00:00:00')],
 [110563863, Timestamp('2020-12-25 00:00:00')],
 [105396191, Timestamp('2020-10-15 00:00:00')],
 [105383072, Timestamp('2020-10-15 00:00:00')],
 [105383319, Timestamp('2020-10-15 00:00:00')],
 [105383742, Timestamp('2020-10-15 00:00:00')],
 [106128551, Timestamp('2020-11-09 00:00:00')],
 [106154694, Timestamp('2020-11-09 00:00:00')],
 [106128932, Timestamp('2020-11-09 00:00:00')],
 [106120055, Timestamp('2020-11-09 00:00:00')],
 [106153048, Timestamp('2020-11-09 00:00:00')],
 [106121907, Timestamp('2020-11-09 00:00:00')],
 [113545738, Timestamp('2021-04-05 00:00:00')],
 [107613235, Timestamp('2020-12-16 00:00:00')],
 [109634655, Timestamp('2020-12-16 00:00:00')],
 [107613791, Timestamp('2020-12-16 00:00:00')],
 [116931493, Timestamp('2021-05-13 00:00:00')],
 [113124451, Timestamp('2021-03-08 00:00:00')],
 [110626363, Timestamp('2021-01-01 00:00:00')],
 [78453491, Timestamp('2020-11-01 00:00:00')],
 [2225054, Timestamp('2020-11-01 00:00:00')],
 [105898516, Timestamp('2020-11-01 00:00:00')],
 [78428125, Timestamp('2020-11-01 00:00:00')],
 [106682824, Timestamp('2020-11-24 00:00:00')],
 [106064944, Timestamp('2020-11-05 00:00:00')],
 [88876434, Timestamp('2021-01-01 00:00:00')],
 [88876669, Timestamp('2021-01-01 00:00:00')],
 [110360155, Timestamp('2021-01-05 00:00:00')],
 [110338307, Timestamp('2021-01-05 00:00:00')],
 [110338317, Timestamp('2021-01-05 00:00:00')],
 [110338611, Timestamp('2021-01-05 00:00:00')],
 [103787379, Timestamp('2020-10-24 00:00:00')],
 [50261017, Timestamp('2020-12-20 00:00:00')],
 [110279096, Timestamp('2020-12-20 00:00:00')],
 [105335104, Timestamp('2020-10-15 00:00:00')],
 [105300961, Timestamp('2020-10-15 00:00:00')],
 [105301116, Timestamp('2020-10-15 00:00:00')],
 [105301254, Timestamp('2021-02-15 00:00:00')],
 [106347642, Timestamp('2020-11-19 00:00:00')],
 [106346806, Timestamp('2020-11-19 00:00:00')],
 [106346958, Timestamp('2020-11-19 00:00:00')],
 [106347084, Timestamp('2020-12-02 00:00:00')],
 [106131328, Timestamp('2020-11-09 00:00:00')],
 [106155801, Timestamp('2020-11-09 00:00:00')],
 [106131708, Timestamp('2020-11-09 00:00:00')],
 [106129958, Timestamp('2020-11-09 00:00:00')],
 [106155247, Timestamp('2020-11-09 00:00:00')],
 [106130700, Timestamp('2020-11-09 00:00:00')],
 [106158685, Timestamp('2020-11-10 00:00:00')],
 [106213946, Timestamp('2020-11-10 00:00:00')],
 [106159137, Timestamp('2020-11-10 00:00:00')],
 [113620273, Timestamp('2021-03-19 00:00:00')],
 [114551635, Timestamp('2021-03-26 00:00:00')],
 [114705952, Timestamp('2021-04-02 00:00:00')],
 [110881265, Timestamp('2021-01-04 00:00:00')],
 [113123014, Timestamp('2021-03-05 00:00:00')],
 [115493663, Timestamp('2021-04-16 00:00:00')],
 [106595170, Timestamp('2020-11-30 00:00:00')],
 [106593150, Timestamp('2021-03-01 00:00:00')],
 [106593262, Timestamp('2021-03-01 00:00:00')],
 [106593376, Timestamp('2020-11-30 00:00:00')],
 [106127774, Timestamp('2020-11-09 00:00:00')],
 [106154365, Timestamp('2020-11-09 00:00:00')],
 [106128380, Timestamp('2020-11-09 00:00:00')],
 [106126700, Timestamp('2020-11-09 00:00:00')],
 [106153919, Timestamp('2020-11-09 00:00:00')],
 [106127291, Timestamp('2020-11-09 00:00:00')],
 [107614015, Timestamp('2020-12-16 00:00:00')],
 [109634298, Timestamp('2020-12-16 00:00:00')],
 [107614171, Timestamp('2020-12-16 00:00:00')],
 [111887199, Timestamp('2021-02-01 00:00:00')],
 [106151307, Timestamp('2020-11-09 00:00:00')],
 [106142464, Timestamp('2020-11-09 00:00:00')],
 [106141869, Timestamp('2020-11-09 00:00:00')],
 [111003127, Timestamp('2021-01-21 00:00:00')],
 [110972065, Timestamp('2021-01-21 00:00:00')],
 [110972204, Timestamp('2021-01-21 00:00:00')],
 [110972334, Timestamp('2021-01-21 00:00:00')],
 [118032673, Timestamp('2021-06-08 00:00:00')],
 [106122756, Timestamp('2020-11-09 00:00:00')],
 [106153483, Timestamp('2020-11-09 00:00:00')],
 [106126334, Timestamp('2020-11-09 00:00:00')],
 [106152608, Timestamp('2020-11-09 00:00:00')],
 [106119530, Timestamp('2020-11-09 00:00:00')],
 [106119225, Timestamp('2020-11-09 00:00:00')],
 [106114305, Timestamp('2020-11-09 00:00:00')],
 [106152283, Timestamp('2020-11-09 00:00:00')],
 [106114443, Timestamp('2020-11-09 00:00:00')],
 [106114702, Timestamp('2020-11-09 00:00:00')],
 [106150983, Timestamp('2020-11-09 00:00:00')],
 [106117611, Timestamp('2020-11-09 00:00:00')],
 [116009736, Timestamp('2021-05-06 00:00:00')],
 [106356616, Timestamp('2020-11-16 00:00:00')],
 [118318749, Timestamp('2021-06-24 00:00:00')],
 [107614886, Timestamp('2020-12-16 00:00:00')],
 [109635558, Timestamp('2020-12-16 00:00:00')],
 [107615023, Timestamp('2020-12-16 00:00:00')],
 [119202343, Timestamp('2021-06-16 00:00:00')],
 [107505408, Timestamp('2020-12-20 00:00:00')],
 [107494995, Timestamp('2020-12-20 00:00:00')],
 [107495110, Timestamp('2020-12-20 00:00:00')],
 [107495227, Timestamp('2020-12-20 00:00:00')],
 [106113772, Timestamp('2020-11-09 00:00:00')],
 [106151959, Timestamp('2020-11-09 00:00:00')],
 [106113914, Timestamp('2020-11-09 00:00:00')],
 [106151631, Timestamp('2020-11-09 00:00:00')],
 [106118909, Timestamp('2020-11-09 00:00:00')],
 [106118726, Timestamp('2020-11-09 00:00:00')],
 [107615860, Timestamp('2020-12-16 00:00:00')],
 [109636283, Timestamp('2020-12-16 00:00:00')],
 [107615989, Timestamp('2020-12-16 00:00:00')],
 [107616142, Timestamp('2020-12-16 00:00:00')],
 [109637179, Timestamp('2020-12-16 00:00:00')],
 [107616428, Timestamp('2020-12-16 00:00:00')],
 [107617204, Timestamp('2020-12-16 00:00:00')],
 [109635917, Timestamp('2020-12-16 00:00:00')],
 [107617422, Timestamp('2020-12-16 00:00:00')],
 [107209756, Timestamp('2020-12-17 00:00:00')],
 [107183831, Timestamp('2020-12-17 00:00:00')],
 [107183960, Timestamp('2020-12-17 00:00:00')],
 [107184082, Timestamp('2020-12-17 00:00:00')],
 [110358072, Timestamp('2020-12-30 00:00:00')],
 [110344494, Timestamp('2020-12-30 00:00:00')],
 [110344501, Timestamp('2020-12-30 00:00:00')],
 [110344653, Timestamp('2020-12-30 00:00:00')],
 [117558427, Timestamp('2021-06-10 00:00:00')],
 [110331300, Timestamp('2020-12-21 00:00:00')],
 [110357746, Timestamp('2020-12-21 00:00:00')],
 [110331493, Timestamp('2020-12-21 00:00:00')],
 [110331655, Timestamp('2020-12-21 00:00:00')],
 [110358296, Timestamp('2020-12-21 00:00:00')],
 [110332081, Timestamp('2020-12-21 00:00:00')],
 [118318477, Timestamp('2021-07-22 00:00:00')],
 [104783780, Timestamp('2020-10-01 00:00:00')],
 [104778382, Timestamp('2020-10-01 00:00:00')],
 [104778500, Timestamp('2020-10-01 00:00:00')],
 [104778623, Timestamp('2020-10-01 00:00:00')],
 [112277810, Timestamp('2021-03-11 00:00:00')],
 [117564163, Timestamp('2021-06-16 00:00:00')],
 [110405116, Timestamp('2020-12-22 00:00:00')],
 [110370051, Timestamp('2020-12-22 00:00:00')],
 [110370273, Timestamp('2020-12-22 00:00:00')],
 [115322523, Timestamp('2021-05-06 00:00:00')],
 [110699033, Timestamp('2021-01-01 00:00:00')],
 [110625861, Timestamp('2021-01-01 00:00:00')],
 [110626096, Timestamp('2021-01-01 00:00:00')],
 [110625992, Timestamp('2021-01-01 00:00:00')],
 [106033659, Timestamp('2020-11-23 00:00:00')],
 [106020395, Timestamp('2020-11-23 00:00:00')],
 [106020525, Timestamp('2020-11-23 00:00:00')],
 [106020949, Timestamp('2020-12-23 00:00:00')],
 [110257622, Timestamp('2020-12-17 00:00:00')],
 [110272873, Timestamp('2020-12-17 00:00:00')],
 [110258279, Timestamp('2020-12-17 00:00:00')],
 [110273200, Timestamp('2020-12-17 00:00:00')],
 [112015064, Timestamp('2021-02-02 00:00:00')],
 [106157543, Timestamp('2020-11-09 00:00:00')],
 [106118592, Timestamp('2020-11-09 00:00:00')],
 [106118301, Timestamp('2020-11-09 00:00:00')],
 [112767575, Timestamp('2021-02-20 00:00:00')],
 [106031565, Timestamp('2020-11-26 00:00:00')],
 [106007671, Timestamp('2020-11-26 00:00:00')],
 [106008197, Timestamp('2020-11-26 00:00:00')],
 [106117601, Timestamp('2020-11-09 00:00:00')],
 [106213290, Timestamp('2020-11-09 00:00:00')],
 [106117916, Timestamp('2020-11-09 00:00:00')],
 [110332286, Timestamp('2020-12-21 00:00:00')],
 [110358621, Timestamp('2020-12-21 00:00:00')],
 [110332906, Timestamp('2020-12-21 00:00:00')],
 [106152934, Timestamp('2020-11-12 00:00:00')],
 [106120264, Timestamp('2020-11-12 00:00:00')],
 [106120378, Timestamp('2020-11-12 00:00:00')],
 [106120557, Timestamp('2021-03-12 00:00:00')],
 [112459562, Timestamp('2021-02-14 00:00:00')],
 [106136252, Timestamp('2020-11-09 00:00:00')],
 [106156238, Timestamp('2020-11-09 00:00:00')],
 [106136685, Timestamp('2020-11-09 00:00:00')],
 [110333052, Timestamp('2020-12-21 00:00:00')],
 [110358948, Timestamp('2020-12-21 00:00:00')],
 [110333580, Timestamp('2020-12-21 00:00:00')],
 [104963037, Timestamp('2020-10-03 00:00:00')],
 [104916022, Timestamp('2020-10-03 00:00:00')],
 [104916494, Timestamp('2020-10-03 00:00:00')],
 [104916786, Timestamp('2020-11-14 00:00:00')],
 [115317768, Timestamp('2021-04-29 00:00:00')],
 [113621123, Timestamp('2021-03-25 00:00:00')],
 [110967894, Timestamp('2021-01-11 00:00:00')],
 [110999626, Timestamp('2021-01-11 00:00:00')],
 [110968018, Timestamp('2021-01-11 00:00:00')],
 [107026997, Timestamp('2020-12-02 00:00:00')],
 [107027117, Timestamp('2020-12-02 00:00:00')],
 [107071349, Timestamp('2020-12-02 00:00:00')],
 [112767912, Timestamp('2021-02-20 00:00:00')],
 [118318983, Timestamp('2021-07-15 00:00:00')],
 [106137242, Timestamp('2020-11-09 00:00:00')],
 [106156567, Timestamp('2020-11-09 00:00:00')],
 [106138093, Timestamp('2020-11-09 00:00:00')],
 [110333810, Timestamp('2020-12-21 00:00:00')],
 [110359274, Timestamp('2020-12-21 00:00:00')],
 [110334427, Timestamp('2020-12-21 00:00:00')],
 [106164403, Timestamp('2020-11-10 00:00:00')],
 [106217880, Timestamp('2020-11-10 00:00:00')],
 [106164943, Timestamp('2020-11-10 00:00:00')],
 [107071994, Timestamp('2020-12-11 00:00:00')],
 [107066843, Timestamp('2021-01-02 00:00:00')],
 [107066969, Timestamp('2021-01-02 00:00:00')],
 [107067138, Timestamp('2020-12-11 00:00:00')],
 [116182944, Timestamp('2021-05-01 00:00:00')],
 [106826238, Timestamp('2021-01-01 00:00:00')],
 [106816229, Timestamp('2021-01-01 00:00:00')],
 [106816378, Timestamp('2021-01-01 00:00:00')],
 [106816587, Timestamp('2021-05-01 00:00:00')],
 [106157217, Timestamp('2020-11-09 00:00:00')],
 [106141708, Timestamp('2020-11-09 00:00:00')],
 [106141217, Timestamp('2020-11-09 00:00:00')],
 [113621127, Timestamp('2021-03-25 00:00:00')],
 [110337122, Timestamp('2020-12-21 00:00:00')],
 [110359500, Timestamp('2020-12-21 00:00:00')],
 [110337564, Timestamp('2020-12-21 00:00:00')],
 [110967568, Timestamp('2021-01-11 00:00:00')],
 [111004833, Timestamp('2021-01-11 00:00:00')],
 [110968152, Timestamp('2021-01-11 00:00:00')],
 [112768163, Timestamp('2021-02-20 00:00:00')],
 [115494807, Timestamp('2021-04-22 00:00:00')],
 [110360845, Timestamp('2020-12-31 00:00:00')],
 [110344039, Timestamp('2020-12-31 00:00:00')],
 [110344066, Timestamp('2020-12-31 00:00:00')],
 [110337739, Timestamp('2020-12-21 00:00:00')],
 [110359829, Timestamp('2020-12-21 00:00:00')],
 [110337997, Timestamp('2020-12-21 00:00:00')],
 [106270283, Timestamp('2020-11-12 00:00:00')],
 [106273998, Timestamp('2020-11-12 00:00:00')],
 [106264617, Timestamp('2020-11-12 00:00:00')],
 [106264889, Timestamp('2020-11-12 00:00:00')],
 [104966813, Timestamp('2020-10-02 00:00:00')],
 [104964836, Timestamp('2020-10-02 00:00:00')],
 [104965130, Timestamp('2020-10-02 00:00:00')],
 [104965271, Timestamp('2020-12-01 00:00:00')],
 [106139734, Timestamp('2020-11-09 00:00:00')],
 [106156894, Timestamp('2020-11-09 00:00:00')],
 [106140077, Timestamp('2020-11-09 00:00:00')],
 [107209645, Timestamp('2020-12-17 00:00:00')],
 [107183404, Timestamp('2020-12-17 00:00:00')],
 [107183520, Timestamp('2020-12-17 00:00:00')],
 [110346537, Timestamp('2020-12-21 00:00:00')],
 [110360383, Timestamp('2020-12-21 00:00:00')],
 [110346824, Timestamp('2020-12-21 00:00:00')],
 [110968660, Timestamp('2021-01-11 00:00:00')],
 [111000600, Timestamp('2021-01-11 00:00:00')],
 [110968841, Timestamp('2021-01-11 00:00:00')],
 [103618899, Timestamp('2021-01-03 00:00:00')],
 [110368330, Timestamp('2020-12-22 00:00:00')],
 [110404136, Timestamp('2020-12-22 00:00:00')],
 [110368483, Timestamp('2020-12-22 00:00:00')],
 [110260408, Timestamp('2020-12-17 00:00:00')],
 [110273526, Timestamp('2020-12-17 00:00:00')],
 [110260827, Timestamp('2020-12-17 00:00:00')],
 [106160036, Timestamp('2020-11-10 00:00:00')],
 [106218534, Timestamp('2020-11-10 00:00:00')],
 [106160707, Timestamp('2020-11-10 00:00:00')],
 [78453172, Timestamp('2020-12-20 00:00:00')],
 [104147565, Timestamp('2020-12-20 00:00:00')],
 [78427798, Timestamp('2020-12-20 00:00:00')],
 [104749011, Timestamp('2020-10-01 00:00:00')],
 [104677267, Timestamp('2020-10-01 00:00:00')],
 [104879984, Timestamp('2020-10-14 00:00:00')],
 [104779660, Timestamp('2020-10-14 00:00:00')],
 [104779889, Timestamp('2020-10-14 00:00:00')],
 [104780209, Timestamp('2020-12-01 00:00:00')],
 [104677388, Timestamp('2020-10-01 00:00:00')],
 [104677511, Timestamp('2020-12-01 00:00:00')],
 [107209869, Timestamp('2020-12-15 00:00:00')],
 [107184239, Timestamp('2020-12-15 00:00:00')],
 [107184251, Timestamp('2020-12-15 00:00:00')],
 [107184511, Timestamp('2020-12-15 00:00:00')],
 [106159637, Timestamp('2020-11-10 00:00:00')],
 [106214603, Timestamp('2020-11-10 00:00:00')],
 [106160017, Timestamp('2020-11-10 00:00:00')],
 [110260657, Timestamp('2020-12-17 00:00:00')],
 [110275164, Timestamp('2020-12-17 00:00:00')],
 [110261554, Timestamp('2020-12-17 00:00:00')],
 [110263154, Timestamp('2020-12-17 00:00:00')],
 [110274183, Timestamp('2020-12-17 00:00:00')],
 [110263340, Timestamp('2020-12-17 00:00:00')],
 [110969188, Timestamp('2021-01-11 00:00:00')],
 [110969526, Timestamp('2021-01-11 00:00:00')],
 [111000905, Timestamp('2021-01-11 00:00:00')],
 [105953574, Timestamp('2020-11-02 00:00:00')],
 [105947065, Timestamp('2020-11-02 00:00:00')],
 [105947221, Timestamp('2020-11-02 00:00:00')],
 [106159395, Timestamp('2020-11-10 00:00:00')],
 [106214275, Timestamp('2020-11-10 00:00:00')],
 [106159619, Timestamp('2020-11-10 00:00:00')],
 [105563018, Timestamp('2020-10-25 00:00:00')],
 [105561814, Timestamp('2020-10-25 00:00:00')],
 [105562057, Timestamp('2020-10-25 00:00:00')],
 [105562172, Timestamp('2020-10-25 00:00:00')],
 [106158273, Timestamp('2020-11-10 00:00:00')],
 [106213616, Timestamp('2020-11-10 00:00:00')],
 [106158521, Timestamp('2020-11-10 00:00:00')],
 [110368459, Timestamp('2020-12-22 00:00:00')],
 [110404462, Timestamp('2020-12-22 00:00:00')],
 [110368751, Timestamp('2020-12-22 00:00:00')],
 [110263763, Timestamp('2020-12-17 00:00:00')],
 [110274512, Timestamp('2020-12-17 00:00:00')],
 [110264422, Timestamp('2020-12-17 00:00:00')],
 [110368907, Timestamp('2020-12-22 00:00:00')],
 [110404789, Timestamp('2020-12-22 00:00:00')],
 [110369292, Timestamp('2020-12-22 00:00:00')],
 [110264350, Timestamp('2020-12-17 00:00:00')],
 [110274837, Timestamp('2020-12-17 00:00:00')],
 [110264972, Timestamp('2020-12-17 00:00:00')],
 [110273852, Timestamp('2020-12-17 00:00:00')],
 [110265669, Timestamp('2020-12-17 00:00:00')],
 [110265161, Timestamp('2020-12-17 00:00:00')],
 [113620535, Timestamp('2021-03-18 00:00:00')],
 [106966002, Timestamp('2020-12-01 00:00:00')],
 [106905453, Timestamp('2020-12-01 00:00:00')],
 [106905669, Timestamp('2020-12-01 00:00:00')],
 [106905822, Timestamp('2020-12-20 00:00:00')],
 [112768754, Timestamp('2021-02-20 00:00:00')],
 [110369788, Timestamp('2020-12-22 00:00:00')],
 [110405441, Timestamp('2020-12-22 00:00:00')],
 [110369774, Timestamp('2020-12-22 00:00:00')],
 [88239992, Timestamp('2020-01-20 00:00:00')],
 [113428464, Timestamp('2021-03-18 00:00:00')]]

In [130]:
def getDataByService_watching_film(month1, date1, month2, date2, vod_id):
    qw = '''SELECT
                   count(DISTINCT san) as count_people,
                   count(event) as count_of_watching,
                   count(distinct device_type) as unique_device_type

                FROM analytics.UserEvents
                WHERE
                    event = 17
                    AND event_date BETWEEN toDateTime(date_add(MONTH, '{}', toDate('{}')), 'UTC') AND
                                    toDateTime(date_add(MONTH, '{}', toDate('{}')), 'UTC')
                    AND is_test != 1
                    AND  lower(usage_model) = 'service'
                    and vod_id = {}
                    AND san_hash not in (select san_hash from analytics.test_accounts)'''.format(month1, date1, month2, date2, vod_id)
    return client.query_dataframe(qw).values.tolist()

In [131]:
for i in range(len(films_part2_watching_film)):
    for j in range(6):
        date_watching_film = films_part2_watching_film[i][1]  
        vod_id_watching_film = films_part2_watching_film[i][0]
        tmp_watching_film = getDataByService_watching_film(j, date_watching_film, j+1, date_watching_film, vod_id_watching_film)
        for s in range(len(tmp_watching_film)):
            films_part2_watching_film[i].extend(tmp_watching_film[s])

In [132]:
FILM_DF_watching_film = pd.DataFrame(films_part2_watching_film)

In [133]:
FILM_DF_watching_film.shape

(333, 20)

In [134]:
FILM_DF_watching_film.columns = ['vod_id', 'date_of_appearance_in_Wink', 'unique_san_0', 'count_of_watching_0', 'unique_device_type_0','unique_san_1', 'count_of_watching_1', 'unique_device_type_1','unique_san_2', 'count_of_watching_2', 'unique_device_type_2','unique_san_3', 'count_of_watching_3', 'unique_device_type_3','unique_san_4', 'count_of_watching_4', 'unique_device_type_4','unique_san_5', 'count_of_watching_5', 'unique_device_type_5']

In [153]:
FILM_DF_watching_film = FILM_DF_watching_film.merge(films, on =['vod_id', 'date_of_appearance_in_Wink'])

In [154]:
FILM_DF_watching_film =FILM_DF_watching_film[['film', 'vod_id','date_of_appearance_in_Wink','unique_san_0','count_of_watching_0','unique_device_type_0','unique_san_1','count_of_watching_1','unique_device_type_1','unique_san_2','count_of_watching_2','unique_device_type_2','unique_san_3','count_of_watching_3','unique_device_type_3','unique_san_4','count_of_watching_4','unique_device_type_4','unique_san_5','count_of_watching_5','unique_device_type_5']]

In [155]:
FILM_DF_watching_film

,film,vod_id,date_of_appearance_in_Wink,unique_san_0,count_of_watching_0,unique_device_type_0,unique_san_1,count_of_watching_1,unique_device_type_1,unique_san_2,...,unique_device_type_2,unique_san_3,count_of_watching_3,unique_device_type_3,unique_san_4,count_of_watching_4,unique_device_type_4,unique_san_5,count_of_watching_5,unique_device_type_5
0,NAVI. Рожденные побеждать,114501547,2021-04-08,20596,53481,11,3469,8723,11,3637,...,11,768,2418,10,0,0,0,0,0,0
1,Американский друг,107612888,2020-12-16,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,Американский друг,109633924,2020-12-16,264,500,9,232,412,8,238,...,10,252,512,10,179,395,9,116,225,10
3,Американский друг,107613026,2020-12-16,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,Архипелаг,119523903,2021-07-01,29556,85739,11,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
328,Шербургские зонтики,110369788,2020-12-22,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
329,Шербургские зонтики,110405441,2020-12-22,193,309,10,109,179,8,90,...,7,88,191,6,853,1365,10,186,397,10
330,Шербургские зонтики,110369774,2020-12-22,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
331,Шоссе в никуда,88239992,2020-01-20,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
332,Батя,113428464,2021-03-18,265478,1042707,11,94042,334615,11,68154,...,11,42901,179234,11,4584,38175,11,0,0,0

In [174]:
Exact_film_service_model = FILM_DF_watching_film.groupby(['film', 'date_of_appearance_in_Wink'])['unique_san_0','count_of_watching_0','unique_device_type_0','unique_san_1','count_of_watching_1','unique_device_type_1','unique_san_2','count_of_watching_2','unique_device_type_2','unique_san_3','count_of_watching_3','unique_device_type_3','unique_san_4','count_of_watching_4','unique_device_type_4','unique_san_5','count_of_watching_5','unique_device_type_5'].sum().reset_index()

In [175]:
Exact_film_service_model.to_excel('Таблица с КОЛИЧЕСТВОМ просмотров этого фильма по модели сервис в каждый месяц жизни фильма. Новый список фильмов.xlsx', index=False)

### Кол-во всех подписчиков в сервисе за каждый месяц жизни этого фильма

In [137]:
films_part = films[['vod_id', 'date_of_appearance_in_Wink']]
films_part = films_part.values.tolist()

In [138]:
def getDataByService(month1, date1, month2, date2):
    qw = '''SELECT 
                   count(DISTINCT san) as count_people,
                   sum(purchase_cost/100) as sum
                FROM analytics.UserEvents 
                WHERE
                    ((event = 16 and purchase_result='Success') or (event = 34 and result_code = 0))
                    AND event_date BETWEEN toDateTime(date_add(MONTH, '{}', toDate('{}')), 'UTC') AND
                                    toDateTime(date_add(MONTH, '{}', toDate('{}')), 'UTC')
                    AND is_test != 1
                    AND  lower(usage_model) = 'service'
                    AND san_hash not in (select san_hash from analytics.test_accounts)'''.format(month1, date1, month2, date2)
    return client.query_dataframe(qw).values.tolist()

In [5]:
# films_part

In [6]:
# films_part2 = films_part.copy()

In [7]:
# films_part2

In [142]:
for i in range(len(films_part2)):
    for j in range(6):
        date = films_part2[i][1]  
        tmp = getDataByService(j, date, j+1, date)
        for s in range(len(tmp)):
            films_part2[i].extend(tmp[s])

In [143]:
FILM_DF = pd.DataFrame(films_part2)

In [144]:
FILM_DF

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,114501547,2021-04-08,176256.0,40213728.33,144408.0,42828097.53,123744.0,37933542.78,53119.0,13065137.69,0.0,0.00,0.0,0.00
1,107612888,2020-12-16,197408.0,36037833.99,203486.0,43674659.37,193247.0,45952690.25,173945.0,40311106.22,175625.0,40456840.51,144962.0,47417071.16
2,109633924,2020-12-16,197408.0,36037833.99,203486.0,43674659.37,193247.0,45952690.25,173945.0,40311106.22,175625.0,40456840.51,144962.0,47417071.16
3,107613026,2020-12-16,197408.0,36037833.99,203486.0,43674659.37,193247.0,45952690.25,173945.0,40311106.22,175625.0,40456840.51,144962.0,47417071.16
4,119523903,2021-07-01,76645.0,18704988.10,0.0,0.00,0.0,0.00,0.0,0.00,0.0,0.00,0.0,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
328,110369788,2020-12-22,207166.0,38859412.93,200981.0,43560566.65,190566.0,44889898.61,171384.0,40723114.18,168498.0,40124810.94,144049.0,48758649.54
329,110405441,2020-12-22,207166.0,38859412.93,200981.0,43560566.65,190566.0,44889898.61,171384.0,40723114.18,168498.0,40124810.94,144049.0,48758649.54
330,110369774,2020-12-22,207166.0,38859412.93,200981.0,43560566.65,190566.0,44889898.61,171384.0,40723114.18,168498.0,40124810.94,144049.0,48758649.54
331,88239992,2020-01-20,30868.0,11142696.42,40626.0,15572883.43,103630.0,41511989.92,172080.0,73911948.84,146018.0,63762971.91,189980.0,67579608.98
332,113428464,2021-03-18,179551.0,41699281.80,168894.0,39313225.62,145041.0,48051626.25,117317.0,31875176.68,7619.0,1703392.40,0.0,0.00

In [145]:
FILM_DF.columns = ['vod_id', 'date_of_appearance_in_Wink', 'unique_san_0', 'revenue_0', 'unique_san_1', 'revenue_1', 'unique_san_2', 'revenue_2', 'unique_san_3', 'revenue_3', 'unique_san_4', 'revenue_4', 'unique_san_5', 'revenue_5']

In [146]:
FILM_DF

,vod_id,date_of_appearance_in_Wink,unique_san_0,revenue_0,unique_san_1,revenue_1,unique_san_2,revenue_2,unique_san_3,revenue_3,unique_san_4,revenue_4,unique_san_5,revenue_5
0,114501547,2021-04-08,176256.0,40213728.33,144408.0,42828097.53,123744.0,37933542.78,53119.0,13065137.69,0.0,0.00,0.0,0.00
1,107612888,2020-12-16,197408.0,36037833.99,203486.0,43674659.37,193247.0,45952690.25,173945.0,40311106.22,175625.0,40456840.51,144962.0,47417071.16
2,109633924,2020-12-16,197408.0,36037833.99,203486.0,43674659.37,193247.0,45952690.25,173945.0,40311106.22,175625.0,40456840.51,144962.0,47417071.16
3,107613026,2020-12-16,197408.0,36037833.99,203486.0,43674659.37,193247.0,45952690.25,173945.0,40311106.22,175625.0,40456840.51,144962.0,47417071.16
4,119523903,2021-07-01,76645.0,18704988.10,0.0,0.00,0.0,0.00,0.0,0.00,0.0,0.00,0.0,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
328,110369788,2020-12-22,207166.0,38859412.93,200981.0,43560566.65,190566.0,44889898.61,171384.0,40723114.18,168498.0,40124810.94,144049.0,48758649.54
329,110405441,2020-12-22,207166.0,38859412.93,200981.0,43560566.65,190566.0,44889898.61,171384.0,40723114.18,168498.0,40124810.94,144049.0,48758649.54
330,110369774,2020-12-22,207166.0,38859412.93,200981.0,43560566.65,190566.0,44889898.61,171384.0,40723114.18,168498.0,40124810.94,144049.0,48758649.54
331,88239992,2020-01-20,30868.0,11142696.42,40626.0,15572883.43,103630.0,41511989.92,172080.0,73911948.84,146018.0,63762971.91,189980.0,67579608.98
332,113428464,2021-03-18,179551.0,41699281.80,168894.0,39313225.62,145041.0,48051626.25,117317.0,31875176.68,7619.0,1703392.40,0.0,0.00

In [167]:
FILM_DF= FILM_DF.merge(films, on =['vod_id', 'date_of_appearance_in_Wink'])

In [168]:
FILM_DF= FILM_DF[['film','vod_id', 'date_of_appearance_in_Wink','unique_san_0','revenue_0','unique_san_1','revenue_1', 'unique_san_2','revenue_2','unique_san_3','revenue_3','unique_san_4','revenue_4','unique_san_5','revenue_5']]

In [171]:
People_and_revenue_from_service_model = FILM_DF.groupby(['film', 'date_of_appearance_in_Wink'])['unique_san_0','revenue_0','unique_san_1','revenue_1', 'unique_san_2','revenue_2','unique_san_3','revenue_3','unique_san_4','revenue_4','unique_san_5','revenue_5',].sum().reset_index()

In [172]:
People_and_revenue_from_service_model

,film,date_of_appearance_in_Wink,unique_san_0,revenue_0,unique_san_1,revenue_1,unique_san_2,revenue_2,unique_san_3,revenue_3,unique_san_4,revenue_4,unique_san_5,revenue_5
0,NAVI. Рожденные побеждать,2021-04-08,176256.0,4.021373e+07,144408.0,4.282810e+07,123744.0,3.793354e+07,53119.0,1.306514e+07,0.0,0.000000e+00,0.0,0.000000e+00
1,Американский друг,2020-12-16,592224.0,1.081135e+08,610458.0,1.310240e+08,579741.0,1.378581e+08,521835.0,1.209333e+08,526875.0,1.213705e+08,434886.0,1.422512e+08
2,Архипелаг,2021-07-01,76645.0,1.870499e+07,0.0,0.000000e+00,0.0,0.000000e+00,0.0,0.000000e+00,0.0,0.000000e+00,0.0,0.000000e+00
3,Ассистентка,2020-10-10,434482.0,9.738196e+07,294658.0,7.181460e+07,370230.0,6.781878e+07,436816.0,9.134890e+07,380228.0,8.886737e+07,357406.0,8.492877e+07
4,Ассистентка HD,2020-10-10,217241.0,4.869098e+07,147329.0,3.590730e+07,185115.0,3.390939e+07,218408.0,4.567445e+07,190114.0,4.443369e+07,178703.0,4.246438e+07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
174,Чёрная Венера,2020-12-17,605364.0,1.109208e+08,597843.0,1.290980e+08,577812.0,1.372821e+08,529902.0,1.226979e+08,519138.0,1.203322e+08,434547.0,1.429854e+08
175,"Чёрная кошка, белый кот",2020-12-17,605364.0,1.109208e+08,597843.0,1.290980e+08,577812.0,1.372821e+08,529902.0,1.226979e+08,519138.0,1.203322e+08,434547.0,1.429854e+08
176,Чёрный снег,2021-03-18,179551.0,4.169928e+07,168894.0,3.931323e+07,145041.0,4.805163e+07,117317.0,3.187518e+07,7616.0,1.703281e+06,0.0,0.000000e+00
177,Шербургские зонтики,2020-12-22,621498.0,1.165782e+08,602943.0,1.306817e+08,571698.0,1.346697e+08,514152.0,1.221693e+08,505494.0,1.203744e+08,432147.0,1.462759e+08
178,Шоссе в никуда,2020-01-20,30868.0,1.114270e+07,40626.0,1.557288e+07,103630.0,4.151199e+07,172080.0,7.391195e+07,146018.0,6.376297e+07,189980.0,6.757961e+07

In [173]:
People_and_revenue_from_service_model.to_excel('Таблица с количеством подписчиков каждый месяц жизни фильма. Новый список фильмов.xlsx', index=False)